.product-container {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    background: #eee;
    position: relative;
    border-radius: 0.5rem;
    max-width: 100%;
}

    .product-container.large {
        width: 100%;
        height: 100%;
    }

.circle {
    background: #20d3c2;
    width: 60px;
    height: 60px;
    border-radius: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
}

.product-title {
    background: #0e153d;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.75rem;
    padding-left: 1.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    color: white;
    font-size: 18px;
}

.product-img {
    max-width: 75%;
    display: block;
    margin: auto;
}

.product-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem 1rem;
    opacity: 0;
    border-radius: 0.5rem;
    background: #292f5100;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

    .product-overlay:hover {
        background: #292f51f7;
        opacity: 1;
    }

    .product-overlay .product-name a {
        color: white !important;
    }

        .product-overlay .product-name a:hover {
            color: var(--teal) !important;
        }

/*! Product Overlay Pill  */
.product-overlay-pill {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0.6rem;
    border-radius: 2rem;
    background: white;
    margin: 1rem;
    width: min-content;
}

.pop-toggle-btn {
    color: rgba(255, 0, 0, 0.75) !important;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
    transition: 0.2s;
    padding-left: 1px;
    padding-right: 1px;
}

.product-overlay-pill i:last-child {
    margin-bottom: 0.4rem;
}

.product-overlay-pill i:not(:last-child) {
    margin-bottom: 0.75rem;
}

.product-overlay-pill i {
    display: block;
    color: gray;
    position: relative;
    cursor: pointer;
}

    .product-overlay-pill i:hover {
        color: var(--teal);
    }
    /*! Pill Modals (ligger i en fa-ikon så måste återställa fw och ff) */
    .product-overlay-pill i .pop-modal {
        font-weight: normal !important;
        font-family: "Roboto", sans-serif !important;
        background: var(--teal);
        color: white;
        position: absolute;
        left: -8rem;
        top: -0.5rem;
        border-radius: 0.25rem;
        text-align: center;
        padding: 0.5rem;
        width: 7rem;
        opacity: 0;
        -moz-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        -webkit-transition: opacity 0.2s;
        transition: opacity 0.2s;
        display: none;
    }

    .product-overlay-pill i:hover .pop-modal {
        display: block;
        opacity: 1;
    }

/* Lilla pilkanten på modal-rutan brevid ikonen */
.product-overlay-pill .pop-modal::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent transparent var(--teal);
}
