.quick-view-container {
    border-radius: 0.5rem;
    background: white;
}

.modal-dialog {
    max-width: 50vw;
}

.close-modal-button {
    width: 2rem;
    height: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 100%;
    background: #20d3c2;
    color: white;
    cursor: pointer !important;
    border: 2px solid transparent;
    position: absolute;
    right: -2.25rem;
    top: -2.25rem;
    z-index: 99;
}

    .close-modal-button:hover {
        background: transparent;
        color: #20d3c2;
        border: 2px solid #20d3c2;
    }

.modal-dialog {
    margin-top: 5rem;
}

.quick-view-container {
    border-radius: 0.5rem;
    background: white;
}
