@* [U]nique [S]elling [P]oint(s) *@

<div class="usp-container d-flex justify-content-around">
    <div class="row gx-0">
        <div class="col usp-box">
            <img id="imgBox" alt="Box" />
            <div class="p-3">
                <p class="usp-box-title">Free shipping</p>
                <p>We provide free shipping for our local customers</p>
            </div>
        </div>

        <div class="col usp-box">
            <img id="imgClock" alt="Clock" />
            <div class="p-3">
                <p class="usp-box-title">24/7 support</p>
                <p>For any inquiry, we are available 24 hours every day</p>
            </div>
        </div>

        <div class="col usp-box">
            <img id="imgPayment" alt="Payment" />
            <div class="p-3">
                <p class="usp-box-title">Online payment</p>
                <p>You can pay quickly and easily with our online payment system</p>
            </div>
        </div>

        <div class="col usp-box">
            <img id="imgTime" alt="Time" />
            <div class="p-3">
                <p class="usp-box-title">Fast delivery</p>
                <p>We understand your urgency and deliver in a fast way</p>
            </div>
        </div>
    </div>
</div>