@page "/aboutus"

<body>
    <!--Section-1-->
    <div class="background">
        <div class="section-1 container d-flex justify-content-between align-items-center">
            <div>
                <h1 class="white-text">We are an<br><span class="green-text bold-text">ONLINE STORE</span></h1>
                <p class="white-text">
                    Vivamus dignissim a ex eu ornare. Ut fermentum orci<br>
                    vel diam ultricies faucibus. Quisque quis erat sed
                </p>
                <button type="button">LEARN MORE</button>
            </div>
            <img src="http://via.placeholder.com/445x453">
        </div>
    </div>
    <!--Section-2-->
    <div class="section-2 container d-flex justify-content-between">
        <div>
            <img src="http://via.placeholder.com/525x640">
        </div>
        <div>
            <h2 class="green-text bold-text mb-5">
                We are a responsible<br>
                quality online store
            </h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>
                Lorem Ipsum has been the industry's standard dummy text ever since the<br>
                1500s, when an unknown printer took a galley of type and scrambled it to<br>
                make a type specimen book. It has survived not only five centuries, but also<br>
                the leap into electronic typesetting, remaining essentially unchanged.
            </p>
            <div class="border-left mt-4 mb-4">
                <p class="green-text">
                    Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies<br>
                    faucibus. Quisque quis erat sed lacus elementum feugiat. Vivamus ac<br>
                    sagittis justo. Suspendisse in purus lobortis, accumsan urna et.
                </p>
            </div>
            <p>
                Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies<br>
                faucibus. Quisque quis erat sed lacus elementum feugiat. Vivamus ac sagittis<br>
                justo. Suspendisse in purus lobortis, accumsan urna et, fermentum dolor. In<br>
                hac habitasse platea dictumst. Nulla pulvinar, eros eget venenatis<br>
                fermentum, lacus odio dapibus justo, sed semper quam purus quis lacus.<br>
                Vestibulum vitae neque sed risus scelerisque ultricies.
            </p>
        </div>
    </div>
    <!--Section-3-->
    <div class="d-flex">
        <div class="box-light d-flex justify-content-center align-items-center">
            <div class="align-center">
                <img src="/src/img/about_us/User icon.svg">
                <h1>236</h1>
                <h3>Registered Customer</h3>
            </div>
        </div>
        <div class="box-dark d-flex justify-content-center align-items-center">
            <div class="align-center">
                <img src="/src/img/about_us/Cart download icon.svg">
                <h1>3254</h1>
                <h3>Products Delivered</h3>
            </div>
        </div>
        <div class="box-light d-flex justify-content-center align-items-center">
            <div class="align-center">
                <img src="/src/img/about_us/Thumbsup icon.svg">
                <h1>685</h1>
                <h3>5 Star Reviews</h3>
            </div>
        </div>
        <div class="box-dark d-flex justify-content-center align-items-center">
            <div class="align-center">
                <img src="/src/img/about_us/Team icon.svg">
                <h1>18</h1>
                <h3>Team Members</h3>
            </div>
        </div>
    </div>
    <!--Section-4-->
    <div class="section-4 container d-flex justify-content-between">
        <div>
            <h2 class="bold-text pb-4">
                Do business in a smart<br>
                way with our theme
            </h2>
            <p>
                It has survived not only five centuries, but also the leap into electronic<br>
                typesetting, remaining essentially unchanged.
            </p>
            <div class="d-flex align-top mt-4">
                <img class="me-4" src="/src/img/about_us/Bulb icon.svg">
                <div>
                    <h3 class="green-text">It's a great ideas here</h3>
                    <p>
                        Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam<br>
                        ultricies faucibus. Quisque quis erat sed lacus<br>
                        elementum feugiat.
                    </p>
                </div>
            </div>
            <div class="d-flex align-top mt-4">
                <img class="me-4" src="/src/img/about_us/Award icon.svg">
                <div>
                    <h3 class="green-text">
                        Taking the business into a certain goal<br>
                        with a easy way
                    </h3>
                    <p>
                        Quisque quis erat sed lacus elementum feugiat. Vivamus ac<br>
                        sagittis justo. Suspendisse in purus lobortis, accumsan urna<br>
                        et, fermentum dolor.
                    </p>
                </div>
            </div>
            <div class="d-flex align-top mt-4">
                <img class="me-4" src="/src/img/about_us/Diary icon.svg">
                <div>
                    <h3 class="green-text">
                        Always try to get the perfect<br>
                        collaboration
                    </h3>
                    <p>
                        It has survived not only five centuries, but also the leap into<br>
                        electronic typesetting.
                    </p>
                </div>
            </div>
        </div>
        <div class="large-img">
            <img src="http://via.placeholder.com/540x417">
            <div class="small-img"><img src="http://via.placeholder.com/255x272"></div>
        </div>
    </div>
    <!--Section-5-->
    <div class="section-5 d-flex">
        <div class="large-box">
            <div class="p-4 text-box">
                <h3 class="green-text">
                    Always try to get the perfect<br>
                    collaboration
                </h3>
                <p class="white-text">
                    Vivamus dignissim a ex eu ornare. Ut fermentum orci vel<br>
                    diam ultricies faucibus. Quisque quis erat sed lacus.
                </p>
                <button type="button" class="hide">LEARN MORE</button>
            </div>
        </div>
        <div class="large-box">
            <div class="p-4 text-box">
                <h3 class="green-text">
                    Always try to get the perfect<br>
                    collaboration
                </h3>
                <p class="white-text">
                    Vivamus dignissim a ex eu ornare. Ut fermentum orci vel<br>
                    diam ultricies faucibus. Quisque quis erat sed lacus.
                </p>
                <button type="button" class="hide">LEARN MORE</button>
            </div>
        </div>
        <div class="large-box">
            <div class="p-4 text-box">
                <h3 class="green-text">
                    Always try to get the perfect<br>
                    collaboration
                </h3>
                <p class="white-text">
                    Vivamus dignissim a ex eu ornare. Ut fermentum orci vel<br>
                    diam ultricies faucibus. Quisque quis erat sed lacus.
                </p>
                <button type="button" class="hide">LEARN MORE</button>
            </div>
        </div>
    </div>
    <SubscribeBanner />
</body>
