@page "/blog"

<!-- Breadcrumb -->
<div class="pt-5 pb-5 breadcrumb-section">
    <div class="container d-flex justify-content-between align-items-center">
        <p>Blog</p>
        <nav class="breadcrumb-divider" aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-small-text">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Blog</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container">
    <div class="row row-cols-2 mt-5">
        <div class="col">
            <BlogCard DatePosted="2021-03-29"
                      Author="Adam Moore"
                      Title="A beautiful scenery in the world we are missing"
                      Tag1="Travel" Tag2="Fashion" />
        </div>

        <div class="col">
            <BlogCard DatePosted="2021-07-18"
                      Author="Jonathon Doe"
                      Title="We love our world"
                      Tag1="Travel" Tag2="Fashion" />
        </div>
    </div>
    <div class="row row-cols-2 mt-5">
        <div class="col">
            <BlogCard DatePosted="2021-03-29"
                      Author="Adam Moore"
                      Title="A beautiful scenery in the world we are missing"
                      Tag1="Travel" Tag2="Fashion" />
        </div>

        <div class="col">
            <BlogCard DatePosted="2021-07-18"
                      Author="Jonathon Doe"
                      Title="We love our world"
                      Tag1="Travel" Tag2="Fashion" />
        </div>
    </div>
    <div class="row row-cols-2 mt-5">
        <div class="col">
            <BlogCard DatePosted="2021-03-29"
                      Author="Adam Moore"
                      Title="A beautiful scenery in the world we are missing"
                      Tag1="Travel" Tag2="Fashion" />
        </div>

        <div class="col">
            <BlogCard DatePosted="2021-07-18"
                      Author="Jonathon Doe"
                      Title="We love our world"
                      Tag1="Travel" Tag2="Fashion" />
        </div>
    </div>
    <div class="row row-cols-2 mt-5">
        <div class="col">
            <BlogCard DatePosted="2021-03-29"
                      Author="Adam Moore"
                      Title="A beautiful scenery in the world we are missing"
                      Tag1="Travel" Tag2="Fashion" />
        </div>

        <div class="col">
            <BlogCard DatePosted="2021-07-18"
                      Author="Jonathon Doe"
                      Title="We love our world"
                      Tag1="Travel" Tag2="Fashion" />
        </div>
    </div>
</div>