@page "/compare"
    !-- Page Content -->
<div class="container">
    <!-- row1--><div class="row">
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100 border-0"></div>
        </div>
        <!--col-lg-3--> <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <button class="btn btn-delete" onclick="removenode()"><i class="fas fa-times"></i> Remove item</button>
                <img class="card-img-top border" src="img/Product thumb.svg" alt="tshirt">
                <div class="card-body text-center">
                    <span class="card-title">
                        <p>Circle patterns girls shirt</p>
                        <medium>&#9733; &#9733; &#9733; &#9733; &#9734;</medium>
                        <h5>$190.00</h5>
                        <div class="buttonAddCart mt-4">
                            <a href="#" class="btn-lg">
                                <svg xmlns="http://www.w3.org/2000/svg" color="white" width="30%" height="30px"
                                     fill="currentColor" class="bi bi-cart" viewBox="0 1 16 16">
                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                </svg>
                                <span class="fontAddCart">Add to cart</span>
                            </a>
                        </div>
                    </span>
                </div>
            </div>
            <!--/col-lg-3-->
        </div>
        <!--col-lg-3--> <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <button class="btn btn-delete" onclick="removenode()"><i class="fas fa-times"></i> Remove item</button>
                <img class="card-img-top border" src="img/Product thumb.svg" alt="tshirt">
                <div class="card-body text-center">
                    <span class="card-title">
                        <p>Circle patterns girls shirt</p>
                        <medium>&#9733; &#9733; &#9733; &#9733; &#9734;</medium>
                        <h5>$190.00</h5>
                        <div class="buttonAddCart mt-4">
                            <a href="#" class="btn-lg">
                                <svg xmlns="http://www.w3.org/2000/svg" color="white" width="30%" height="30px"
                                     fill="currentColor" class="bi bi-cart" viewBox="0 1 16 16">
                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                </svg>
                                <span class="fontAddCart">Add to cart</span>
                            </a>
                        </div>
                    </span>
                </div>
            </div>
            <!--/col-lg-3-->
        </div>
        <!--col-lg-3--> <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <button class="btn btn-delete" onclick="removenode()"><i class="fas fa-times"></i> Remove item</button>
                <img class="card-img-top border" src="img/Product thumb.svg" alt="tshirt">
                <div class="card-body text-center">
                    <span class="card-title">
                        <p>Circle patterns girls shirt</p>
                        <medium>&#9733; &#9733; &#9733; &#9733; &#9734;</medium>
                        <h5>$190.00</h5>
                        <div class="buttonAddCart mt-4">
                            <a href="#" class="btn-lg">
                                <svg xmlns="http://www.w3.org/2000/svg" color="white" width="30%" height="30px"
                                     fill="currentColor" class="bi bi-cart" viewBox="0 1 16 16">
                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                </svg>
                                <span class="fontAddCart">Add to cart</span>
                            </a>
                        </div>
                    </span>
                </div>
            </div>
            <!--/col-lg-3-->
        </div>
        <!--/.row 1-->
    </div>
</div>
<!-- /.container 1-->
<!-- container 2 --><div class="container">
    <!--row1-->             <div class="row">
        <!-- Column1 -->            <div class="col-lg-3 col-md-6 mb-4">
            <div class="list-group">
                <a href="#" class="list-group-item h-50 mt-3 border-0 text-center bgcolorList">AVAILABILITY</a>
                <a href="#" class="list-group-item h-50 d-inline-block mt-3 border-0 text-center bgcolorList">BRAND</a>
                <a href="#" class="list-group-item h-50 d-inline-block mt-3 border-0 text-center bgcolorList">COLOR</a>
            </div>
            <!-- /Column1 -->
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="list-group">
                <a href="#" class="list-group-item h-50 d-inline-block mt-3 border-1 text-center">
                    <img src="img/instock.svg" class="img-fluid mt-2" alt="Bexim-icon">
                </a>
                <a class="list-group-item h-50 d-inline-block mt-3 border-1 text-center">
                    <img src="img/Bexim.svg" class="img-fluid mt-1 ps-2" alt="Responsive image">
                </a>
                <a href="#" class="list-group-item h-50 d-inline-block mt-3 border-1 text-center">
                    <img src="img/Brown, Black, White.svg" class="img-fluid mt-2" alt="Bexim-icon">
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="list-group">
                <a href="#" class="list-group-item h-50 d-inline-block mt-3 border-1 text-center">
                    <img src="img/instock.svg" class="img-fluid mt-2" alt="Bexim-icon">
                </a>
                <a class="list-group-item h-50 d-inline-block mt-3 border-1 text-center">
                    <img src="img/Lighton.svg" class="img-fluid mt-" alt="Bexim-icon">
                </a>
                <a href="#" class="list-group-item h-50 d-inline-block mt-3 border-1 text-center">
                    <img src="" class="img-fluid mt-2" alt="">
                    --
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="list-group">
                <a href="#" class="list-group-item h-50 d-inline-block mt-3 border-1 text-center">
                    <img src="img/instock.svg" class="img-fluid mt-2" alt="Bexim-icon">
                </a>
                <a class="list-group-item h-50 d-inline-block mt-3 border-1 text-center">
                    <img src="img/Rosimo.svg" class="img-fluid mt-2 ps-2" alt="Responsive image">
                </a>
                <a href="#" class="list-group-item h-50 d-inline-block mt-3 border-1 text-center">
                    <img src="img/Red, Blue, Gray.svg" class="img-fluid mt-2" alt="Bexim-icon">
                </a>
            </div>
        </div>
    </div>
</div> <!-- / .row1 -->
<!-- / .container 2 -->
<div>
    <img src="img/Brand.svg" class="img-fluid mt-5 Brand" alt="Bexim-icon">
</div>
