@page "/contactus"

<!-- Breadcrumb -->
<div class="pt-5 pb-5 breadcrumb-section">
    <div class="container d-flex justify-content-between align-items-center">
        <p>Contact Us</p>
        <nav class="breadcrumb-divider" aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-small-text">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
            </ol>
        </nav>
    </div>
</div>

<!-- Google map API? -->
<div>
    <div class="position-relative">
        <div class="d-flex justify-content-center align-items-center">
            @*<img id="location-marker" src="/src/img/contact_us/location-marker.svg" alt="marker">*@
            <i id="location-marker" class="fas fa-map-marker-alt"></i>
        </div>
    <img id="z-index-minus" src="/src/img/contact_us/Maps-Gray.svg" alt="marker">
    </div>
</div>

<div class="container">
    <div class="container-box navy-bg">
        <!-- Addresses -->
        <div class="d-flex justify-content-between bottom-border-green">
            <div class="address-card col-2 text-white">
                <div class="d-flex">
                    <i class="fas fa-home fs-4 me-2 text-teal"></i>
                    <div>
                        <div>252, Chagalnaiya</div>
                        <div>Feni-2500, Bangladesh</div>
                    </div>
                </div>
            </div>
            <div class="address-card col-2 text-white">
                <div class="d-flex">
                    <i class="fas fa-phone-volume fs-4 me-2 text-teal"></i>
                    <div>
                        <div>+880-123456789</div>
                        <div>+880-123456789</div>
                    </div>
                </div>
            </div>
            <div class="address-card col-2">
                <div class="text-white">
                    <div class="d-flex">
                        <i class="fas fa-envelope-open-text fs-4 me-2 text-teal"></i>
                        <div>
                            <div>vanilla@website.com</div>
                            <div>info@website.com</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row text-white">
            <!-- Description and contact -->
            <div class="col m-5">
                <div class="title-text mb-2">Get in Touch</div>
                <p>
                    We have world-class, flexible support via live chat, email and phone. We guarantee that you’ll
                    be able to
                    have any issue resolved within 24 hours. You can contact support immediately here.
                </p>
                <div>
                    <span>Follow us</span>
                    <img id="teal-line" src="/src/img/contact_us/green-line.svg" alt="line">
                </div>
                <div class="mt-2 contact-us-socials">
                    <i class="me-2 fab fa-facebook-f"></i>
                    <i class="me-2 fab fa-instagram"></i>
                    <i class="me-2 fab fa-twitter"></i>
                    <i class="me-2 fab fa-linkedin"></i>
                    <i class="me-2 fab fa-snapchat-ghost"></i>
                </div>
            </div>
            <!-- Form -->
            <div class="col">
                <div class="p-2 m-4" id="form-container">

                    <div id="form-select-error" class="error-red"></div>
                    <EditForm Model="@_contactModel">
                        <DataAnnotationsValidator />
                        <div class="d-flex m-2" id="select-menu">

                            <select @bind="_contactModel.ProductCategory" id="dropdown-menu" name="dropdown-menu" class="dropdown-toggle p-2">
                                <option selected disabled value="" class="text-black dropdown-item">
                                    Product category
                                </option>
                                @foreach (var value in Enum.GetValues(typeof(SelectValues)))
                                {
                                    <option class="dropdown-item">@value</option>
                                }

                            </select>
                            <input @bind="_contactModel.ProductCategory" class="dropdown-display-input bg-white" type="text" id="select-display" name="select-display" disabled>
                        </div>
                        <ValidationMessage For="() => _contactModel.ProductCategory" />
                        <div class="m-2">
                            <InputText id="form-name" class="form-control form" type="text" placeholder="Name" @bind-Value="_contactModel.Name" />
                        </div>
                        <ValidationMessage For="() => _contactModel.Name" />
                        <div class="m-2">
                            <InputText id="form-email" class="form-control form" type="email" placeholder="Email" @bind-Value="_contactModel.Email" />
                            <ValidationMessage For="() => _contactModel.Email" />
                        </div>
                        <div class="m-2">
                            <InputText id="form-subject" class="form-control form" type="text" placeholder="Subject" @bind-Value="_contactModel.Subject" />
                            <ValidationMessage For="() => _contactModel.Subject" />
                        </div>
                        <div class="m-2">
                            <InputTextArea class="form-control form " rows="8" type="text" placeholder="Message" @bind-Value="_contactModel.Message"></InputTextArea>
                            <ValidationMessage For="() => _contactModel.Message" />
                        </div>
                        <button type="submit" id="submit-button">Send a message</button>
                    </EditForm>


                </div>

            </div>
        </div>


    </div>
</div>




@code {
    private ContactModel _contactModel;


    protected override void OnInitialized()
    {
        _contactModel = new ContactModel();
    }

    public enum SelectValues
    {
        Order,
        Payment,
        Return,
        Membership,
        Discount,
        Account,
        Others
    }

}
}
