


.navy-bg {
    background-color: var(--bg-navy-);
}

.text-white {
    color: var(--bg-white-);
}

.text-black {
    color: var(--text-black-);
}

#location-marker {
    margin-top:10%;
}
#z-index-minus {
    position: absolute;
    top:0;
    z-index: -1;
}

.container-box {
    margin-top: 20%;
    margin-right: 50px;
    margin-left: 50px;
}

.address-card {
    margin: 40px;
}

.bottom-border-green {
    border-bottom: 5px solid var(--text-teal);
}

.title-text {
    font-size: 24px;
    color: var(--text-teal);
}




#teal-line {
    margin-left: 20px;
}

.social-icon:hover {
    content: url(/img/social-icon-white.svg);
}

#select-menu {
    margin: 5px;
    width: 100%;
}

.dropdown-display-input {
    border-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 6px;
    outline: none;
    border: 0;
    width: 100%;
}
/* Bootstrap override */

.dropdown-toggle {
    background-color: white;
}


#dropdown-menu {
    border: 0;
    outline: none;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-input {
    padding: 6px;
    border-radius: 8px;
    width: 100%;
    outline: none;
    border: 0;
    margin: 5px;
}

#form-container textarea {
    min-height: 200px;
}


#submit-button {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--text-teal);
    border: 0;
    border-radius: 20px;
    color: white;
}


.error-red {
    color: red;
    margin-left: 5px;
}