@page "/"

<Start_block />
<Shipping_banner/>

<!-- shop by categories -->
<div class="container">
    <div class="d-flex align-items-center flex-column">
        <p class="dark-blue b-w-play-36">
            SHOP BY 
            <span class="teal">CATEGORY</span>
        </p>
        <img class="d-block mb-4" src="/img/zigzag.svg" alt="pattern">
        <p class="d-block mb-5 roboto">
            We always try to give you the best product within a fast and reliable way
        </p>
    </div>
    <div class="grid-container mb-5">
        <div class="div1 d-flex align-content-end flex-wrap ">
            <div class="inner-div d-flex align-items-center">
                <p class="m-0 teal">Men</p>
            </div>
        </div>
        <div class="div2 d-flex align-content-end flex-wrap">
            <div class="inner-div d-flex align-items-center">
                <p class="m-0 teal">Women</p>
            </div>
        </div>
        <div class="div3 d-flex align-content-end flex-wrap">
            <div class="inner-div d-flex align-items-center">
                <p class="m-0 teal">Kids</p>
            </div>
        </div>
        <div class="div4 d-flex align-content-end flex-wrap">
            <div class="inner-div d-flex align-items-center">
                <p class="m-0 teal">Shoes</p>
            </div>
        </div>
        <div class="div5 d-flex align-content-end flex-wrap">
            <div class="inner-div d-flex align-items-center">
                <p class="m-0 teal">Hats</p>
            </div>
        </div>
        <div class="div6 d-flex align-content-end flex-wrap">
            <div class="inner-div d-flex align-items-center">
                <p class="m-0 teal">Sunglasses</p>
            </div>
        </div>
        <div class="div7 d-flex align-content-end flex-wrap">
            <div class="inner-div d-flex align-items-center">
                <p class="m-0 teal">Watches</p>
            </div>
        </div>
    </div>
</div> 

<Sale_block_1/>
<Sale_block_2 />
<_SubscribeBanner />
<Subscribe_block />