
.Roboto-medium-24 {
    src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color: #20d3c2;
}

.Roboto-medium-16 {
    src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #20d3c2;
}

.Roboto-regular-16 {
    src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.Roboto-regular-14 {
    src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.Roboto-regular-12 {
    src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}

.Roboto-regular-18 {
    src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.Roboto-bold-16 {
    src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.Roboto-play-bold-36 {
    src: url("https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap");
    font-family: "Play", sans-serif;
    font-weight: bold;
    font-size: 36px;
}


.user-select-none {
    user-select: none;
}

.gray {
    color: #aaaaaa;
}

.teal {
    color: #20d3c2;
}

.teal-bg {
    background-color: #20d3c2;
}

.green-bg {
    background-color: var(--bg-green);
}

.white {
    color: white;
}

.white-bg {
    background-color: white;
}

.navy-bg {
    background-color: var(--bg-dark-blue);
    margin-top: 100px;
    margin-bottom: 100px;
}

.navy-color {
    background-color: var(--bg-dark-blue);
    padding: 15px;
}

.line-through {
    text-decoration: line-through;
}

#decrement-box {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1.5px solid #aaaaaa;
}

.padding-lr {
    padding-left: 10px;
    padding-right: 10px;
}

#increment-box {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1.5px solid #aaaaaa;
}

    #increment-box:hover,
    #decrement-box:hover {
        border: 1.5px solid #20d3c2;
        background-color: #20d3c2;
        cursor: pointer;
    }

#amount-placeholder-box {
    border: 1.5px solid #aaaaaa;
}

#add-to-cart {
    border-radius: 25px;
    width: fit-content;
    padding: 7px;
    padding-left: 18px;
    padding-right: 20px;
}

    #add-to-cart:hover {
        cursor: pointer;
    }

.tags-border {
    border: 2px solid #aaaaaa;
    padding: 5px;
}

.tags-border:hover {
    cursor: pointer;
}

/* Tabs */
.tabs {
    display: flex;
    flex-wrap: wrap;
}

.tabs label {
    order: 1;
    padding: 1rem 2rem;
    margin-right: 0.2rem;
    cursor: pointer;
    transition: background ease 0.2s;
}

.tabs .tab {
    order: 99;
    display: none;
}

    .tabs label {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: var(--bg-dark-blue);
        color: white;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 3px;
        margin-left: 3px;
    }

.label:hover {
    background-color: #20d3c2;
    cursor: pointer;
}

.tabs input[type="radio"] {
    display: none;
}
    .tabs input[type="radio"]:checked + label {
        background: #20d3c2;
    }

.tabs input[type="radio"]:checked + label + .tab {
    display: block;
}
.tabs-underline {
    border: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    height: 5px !important;
    background-color: #20d3c2 !important;
}

.add-review-form {
    background-color: #f6f6f6;
    padding: 20px;
}

.review-input {
    border: 0px solid;
    width: 100%;
    border-radius: 10px;
}

.submit-button {
    color: white;
    background-color: #20d3c2;
    border: solid #20d3c2;
    border-radius: 23px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.icon {
    display: inline-block;
    width: 50px;
    background-size: cover;
}

.box-text {
    padding: 10px;
}

    .box-text div {
        width: fit-content;
    }

.box {
    width: 400px;
    height: 140px;
    border-radius: 6px;
}

    .box:hover {
        background-color: #20d3c2;
    }

        .box:hover #box-img-pack {
            content: url(/src/img/products/shipping-box-white.svg);
        }

        .box:hover span {
            color: white;
        }

        .box:hover p {
            color: white;
        }

#box-img-pack {
    content: url(/src/img/products/shipping-box-teal.svg);
}

#box-img-clock {
    content: url(/src/img/products/img-clock-teal.svg);
}

.box:hover #box-img-clock {
    content: url(/src/img/products/img-clock-white.svg);
}

#box-img-pay {
    content: url(/src/img/products/img-pay-teal.svg);
}

.box:hover #box-img-pay {
    content: url(/src/img/products/img-pay-white.svg);
}

#box-img-time {
    content: url(/src/img/products/img-time-teal.svg);
}

.box:hover #box-img-time {
    content: url(/src/img/products/img-time-white.svg);
}

/* Carousel */

#carouselExampleIndicators {
    height: 400px;
    margin-bottom: 100px;
}

#carouselExampleIndicators2 {
    height: 400px;
    margin-bottom: 100px;
}

.prod-card {
    height: 400px;
    position: relative;
    width: fit-content;
    z-index: 1;
}

.start-card {
    background-color: var(--bg-lighter-gray);
}

.textbox-prod p {
    margin-left: 30px;
}

.start-card,
.hover-card {
    position: absolute;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
    z-index: 5;
}

.hover-card {
    opacity: 0.9;
    width: 255px;
    background-color: var(--bg-dark-blue);
    z-index: 9;
    display: none;
}

.prod-card:hover .hover-card {
    display: block;
}

.prod-card .dark-blue-bg {
    height: 50px;
}

.prod-card p,
.prod-info-hover {
    font-size: 18px;
}

    .prod-info-hover .teal {
        font-size: 24px;
    }

    .prod-info-hover .fashion-border {
        font-size: 14px;
    }

.fashion-border {
    width: 70px;
    text-align: center;
    border: 1px solid white;
}

.carousel-control-next {
    margin-right: -1vw;
    margin-top: 130px;
    width: 50px;
    content: url(/src/img/products/carousel-right-arrow.svg);
}

    .carousel-control-next:hover {
        content: url(/src/img/products/carousel-right-arrow-green.svg);
    }

.carousel-control-prev {
    margin-left: -3vw;
    margin-top: 130px;
    width: 50px;
    content: url(/src/img/products/carousel-left-arrow.svg);
}

    .carousel-control-prev:hover {
        content: url(/src/img/products/carousel-left-arrow-green.svg);
    }

.carousel {
    margin-bottom: 90px;
}

.carousel-indicators {
}

.dot {
    width: 12px;
    height: 12px;
}

.fill {
    position: relative;
    width: 250px;
    height: 150px;
}

.hide {
    display: block;
}

.prod-card:hover .hide {
    display: none;
}

/* DOT */
.middle-gray-bg {
    background-color: var(--bg-middle-gray);
}

.small-circle {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}



.star-rating:hover {
    cursor: pointer;
    color: #20d3c2;
}

.yellowStock{
    color: yellow;
}
.greenStock {
    color: green;
}
.redStock {
    color: red;
}