@page "/products"

<div class="container">
    <div class="row">

        <!-- Component 2 -->
        <div class="col-lg-5">
            <div class="d-flex">
                <img src="/src/img/products/Product-thumb.svg" alt="product img">
                <div class="d-flex flex-column p-3 justify-content-between">
                    <img src="/src/img/products/small-shoes-1.svg" alt="shoes 1">
                    <img src="/src/img/products/small-shoes-2.svg" alt="shoes 2">
                    <img src="/src/img/products/small-shoes-3.svg" alt="shoes 3">
                    <img src="/src/img/products/small-shoes-4.svg" alt="shoes 4">
                </div>
            </div>
        </div>

        <div class="col-xl-5 col-lg-8 col-md-12 ">
            <div class="row">
                <div>
                    <h1 class="Roboto-medium-24">Gents Blue Lightweight Trainers</h1>
                    <p class="Roboto-regular-16">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                        ad minim veniam, quis nostrud.
                    </p>
                    <hr>
                </div>
            </div>
            <!-- Component 3 -->
            <div class="row">
                <div class="d-flex justify-content-start align-items-center">
                    <div class="col-3">
                        <span class="Roboto-medium-24">$190.00</span>
                    </div>
                    <div class="col-2">
                        <span class="Roboto-regular-16 gray line-through">$220.00</span>
                    </div>
                    <div class="col-2">
                        <div class="d-flex justify-content-start align-items-center">
                            <img src="/src/img/products/stock-image.svg" alt="stock-image">
                            <span class="p-1">In stock</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Component 4 -->
            <div class="row">
                <div class="d-flex mt-3">



                    <div class="col-3">
                        <div class="d-flex h-100">
                            <div class="d-flex align-items-center justify-conent-center Roboto-regular-16"
                                 id="decrement-box">
                                <span class="padding-lr">-</span>
                            </div>
                            <div class="d-flex align-items-center justify-conent-center Roboto-regular-16"
                                 id="amount-placeholder-box">
                                <span class="padding-lr">3</span>
                            </div>

                            <div class="d-flex align-items-center justify-conent-center Roboto-regular-16"
                                 id="increment-box">
                                <span class="padding-lr">+</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-5">
                        <div id="add-to-cart" class="teal-bg Roboto-regular-16">
                            <img class="m-1" src="/src/img/products/cart.svg" alt="cart">
                            <span class="white">Add to cart</span>
                        </div>

                    </div>


                    <div class="d-flex justify-content-around">
                        <div class="col-5">
                            <img src="/src/img/products/Color icon.svg" alt="color icon">
                        </div>
                        <div class="col-5">
                            <img src="/src/img/products/Compare icon.svg" alt="compare icon">
                        </div>
                        <div class="col-5">
                            <img src="/src/img/products/add-wishlist.svg" alt="wishlist icon">
                        </div>
                    </div>

                </div>
            </div>

            <!-- Category -->

            <div class="row mt-3">
                <span class="Roboto-regular-16">Category: <span class="teal">Shoes</span></span>
            </div>

            <!-- Tags -->
            <div class="row mt-4">
                <div class="d-flex">
                    <span class="Roboto-regular-16">
                        Tags:

                        <span class="Roboto-regular-12 tags-border">Fashion</span>
                        <span class="Roboto-regular-12 tags-border">Shoes</span>
                        <span class="Roboto-regular-12 tags-border">Sneakers</span>
                    </span>
                </div>
            </div>

            <!-- Share -->
            <div class="row mt-5">
                <div class="d-flex">
                    <span class="Roboto-regular-16">
                        Share:
                        <img class="m-1" src="/src/img/products/social-button1.svg" alt="social 1">
                        <img class="m-1" src="/src/img/products/social-button2.svg" alt="social 2">
                        <img class="m-1" src="/src/img/products/social-button3.svg" alt="social 3">
                        <img class="m-1" src="/src/img/products/social-button4.svg" alt="social 4">
                        <img class="m-1" src="/src/img/products/social-button5.svg" alt="social 5">
                    </span>
                </div>
            </div>



        </div>
    </div>


    <!-- Tabs -->
    <div class="row">
        <div class="d-flex mt-5">
            <div class="tab">
                <span class="Roboto-regular-16">Description</span>
            </div>
            <div class="tab">
                <span class="Roboto-regular-16">Additional Information</span>
            </div>
            <div class="tab">
                <span class="Roboto-regular-16">Reviews (2)</span>
            </div>
            <div class="tab">
                <span class="Roboto-regular-16">About Brand</span>
            </div>
        </div>
        <hr class="tabs-underline" />
    </div>


    <div class="row">
        <div class="col">
            <div class="row mt-5">
                <div class="col">
                    <span class="Roboto-regular-18 teal">2 reviews for </span>
                    <span class="Roboto-regular-18">Gents Blue Lightweight Trainers</span>
                </div>
            </div>


            <div class="row mt-5">
                <div class="col-2">
                    <img src="/src/img/products/user-profile-pic.svg" alt="profile picture">
                </div>
                <div class="col-9">
                    <div class="row">
                        <div class="col-6">
                            <div class="d-inline-flex">
                                <span class="Roboto-bold-16 teal">John Doe</span>
                                <span class="Roboto-regular-14 gray"> - 24 July, 2020</span>

                            </div>
                        </div>
                        <div class="col d-inline-flex align-items-center flex-row-reverse">
                            <img src="/src/img/products/review-star.svg">
                        </div>

                    </div>
                    <div class="row">
                        <p class="Roboto-regular-16 col">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                            sed diam
                            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
                            enim.
                        </p>
                    </div>

                </div>
            </div>

            <div class="row mt-5">
                <div class="col-2">
                    <img src="/src/img/products/user-profile-pic.svg" alt="profile picture">
                </div>
                <div class="col-9">
                    <div class="row">
                        <div class="col-6">
                            <div class="d-inline-flex">
                                <span class="Roboto-bold-16 teal">Willium Cary</span>
                                <span class="Roboto-regular-14 gray"> - 16 June, 2020</span>

                            </div>
                        </div>
                        <div class="col d-inline-flex align-items-center flex-row-reverse">
                            <img src="/src/img/products/review-star.svg">
                        </div>

                    </div>

                    <p class="Roboto-regular-16 col">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                        diam
                        nonummy nibh euismod tincidunt ut laoreet.
                    </p>
                </div>
            </div>

        </div>




        <div class="col mt-5">
            <form>
                <div class="add-review-form">
                    <p class="Roboto-medium-24 teal">Add a review </p>
                    <p class="Roboto-regular-14 gray">
                        Your email address will not be published. Required fields are
                        marked *
                    </p>
                    <div>
                        <span class="Roboto-regular-16">Your rating<span class="teal">*</span>:</span>
                        <img src="/src/img/products/your-rating.svg">
                        <img src="/src/img/products/your-rating.svg">
                        <img src="/src/img/products/your-rating.svg">
                        <img src="/src/img/products/your-rating.svg">
                        <img src="/src/img/products/your-rating.svg">
                    </div>


                    <div class="mt-3">

                        <span class="Roboto-regular-16">Your review<span class="teal">*</span></span>

                        <textarea class="review-input" rows="10"></textarea>
                    </div>

                    <div class="mt-4">
                        <span class="Roboto-regular-16">Name<span class="teal">*</span></span>
                        <input class="review-input p-3" type="text">
                    </div>
                    <div class="mt-4">
                        <span class="Roboto-regular-16">Email<span class="teal">*</span></span>
                        <input class="review-input p-3" type="text">
                    </div>
                    <div class="m-3">
                        <input type="checkbox">
                        <span class="Roboto-regular-16 m-3">
                            Save my name, email, and website in this browser for the
                            next time I comment.
                        </span>
                    </div>

                    <div>
                        <input class="Roboto-regular-16 submit-button" type="button" value="Submit">
                    </div>


                </div>
            </form>
        </div>
    </div>

</div>





<!-- Komponent från Alex med lite modifiering-->
<div class="navy-bg p-3 mb-5">
    <div class="d-flex justify-content-between m-5">
        <div class="box d-flex p-3 align-items-center white-bg m-3">
            <span id="box-img-pack" class="icon box-img"></span>
            <div class="box-text">
                <div><span class="Roboto-medium-16">Free shipping</span></div>
                <span class="Roboto-regular-16">For a local customer, we provide free shipping facility</span>
            </div>
        </div>
        <div class="box d-flex p-4 align-items-center white-bg m-3">
            <img id="box-img-clock" class="box-img" alt="box">
            <div class="box-text">
                <div><span class="Roboto-medium-16">24/7 support</span></div>
                <span class="Roboto-regular-16">For any inquiry, we are available 24 hours every day</span>
            </div>
        </div>
        <div class="box d-flex p-4 align-items-center white-bg m-3">
            <img id="box-img-pay" class="box-img" alt="box">
            <div class="box-text">
                <div><span class="Roboto-medium-16">Online Payment</span></div>
                <span class="Roboto-regular-16">You can pay quickly and easily with our online payment system</span>
            </div>
        </div>
        <div class="box d-flex p-4 align-items-center white-bg m-3">
            <img id="box-img-time" class="box-img" alt="box">
            <div class="box-text">
                <div><span class="Roboto-medium-16">Fast Delivery</span></div>
                <span class="Roboto-regular-16">We understand your urgency and we deliver in a fast way</span>
            </div>
        </div>
    </div>
</div>

<!-- YOU MAY ALSO LIKE -->
<div class="container">
    <div class="d-flex justify-content-center">
        <div>
            <div class="Roboto-play-bold-36">
                <span>
                    YOU MAY
                    <span class="teal">ALSO LIKE</span>
                </span>
            </div>
            <div class="d-flex justify-content-center">
                <img src="/src/img/products/squiggly-line.svg" alt="line">
            </div>
        </div>
    </div>
</div>



<div class="container mt-5">
    <!-- Carousel från Alex + Johannes med modifiering -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false">
        <div class="row">
            <!-- First Carousel item -->
            <div class="carousel-inner">
                <div class="carousel-item active ">
                    <div class="row">
                        <div class="col-3">
                            <div class="prod-card">
                                <div class="start-card p-0 ">
                                    <div>
                                        
                                        <div class="teal-bg small-circle d-flex justify-content-center align-items-center">
                                            <p class="mb-0 text-light">NEW</p>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <img class="d-block" src="/src/img/products/product-hat.svg">
                                    </div>
                                    <div>
                                        <div class="textbox-prod navy-color d-flex align-items-center">
                                            <p class="text-light mt-0 mb-0">Blue silk sleeved top</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="hover-card p-0 ">
                                    <div class="prod-info-hover d-flex align-content-end flex-wrap text-light">
                                        <div class="fill"></div>
                                        <div class="text d-flex flex-column">
                                            <p class="m-1">New look men's coat</p>
                                            <p class="m-1 fashion-border">Fashion</p>
                                            <p class="m-1"><strike>$220.00</strike></p>
                                            <p class="m-1 teal">$190.00</p>
                                        </div>
                                    </div>
                                    <!-- Ikon-funktion: johannes -->
                                </div>
                            </div>

                        </div>
                        <div class="col-3">
                            <div class="d-block w-100 rounded">
                                <div class="prod-card">
                                    <div class="start-card rounded p-0 ">
                                        <div>
                                            <div class="teal-bg small-circle d-flex justify-content-center align-items-center">
                                                <p class="mb-0 text-light">NEW</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img src="/src/img/products/product-shoes.svg">
                                        </div>
                                        <div>
                                            <div class="textbox-prod navy-color d-flex align-items-center">
                                                <p class="text-light mt-0 mb-0">New look men's coat</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hover-card rounded p-0 ">
                                        <div class="prod-info-hover d-flex align-content-end flex-wrap text-light">
                                            <div class="fill"></div>
                                            <div class="text d-flex flex-column">
                                                <p class="m-1">New look men's coat</p>
                                                <p class="m-1 fashion-border">Fashion</p>
                                                <p class="m-1"><strike>$220.00</strike></p>
                                                <p class="m-1 teal">$190.00</p>
                                            </div>
                                        </div>
                                        <!-- Ikon-funktion: johannes -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-block w-100 rounded">
                                <div class="prod-card">
                                    <div class="start-card rounded p-0 ">
                                        <div>
                                            <div class="green-bg small-circle d-flex justify-content-center align-items-center">
                                                <p class="mb-0 text-light">-20%</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img class="d-block rounded" src="/src/img/products/product-dress.svg">
                                        </div>
                                        <div>
                                            <div class="textbox-prod navy-color d-flex align-items-center">
                                                <p class="text-light mt-0 mb-0">Circle pattern girls shirt</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hover-card rounded p-0 ">
                                        <div class="prod-info-hover d-flex align-content-end flex-wrap text-light">
                                            <div class="fill"></div>
                                            <div class="text d-flex flex-column">
                                                <p class="m-1">Circle pattern girls shirt</p>
                                                <p class="m-1 fashion-border">Fashion</p>
                                                <p class="m-1"><strike>$220.00</strike></p>
                                                <p class="m-1 teal">$190.00</p>
                                            </div>
                                        </div>
                                        <!-- Ikon-funktion: johannes -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-block w-100 rounded">
                                <div class="prod-card">
                                    <div class="start-card rounded p-0 ">
                                        <div>
                                            <div class="green-bg small-circle d-flex justify-content-center align-items-center">
                                                <p class="mb-0 text-light font-r">-20%</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img class="d-block rounded" src="/src/img/products/product-dress.svg">
                                        </div>
                                        <div>
                                            <div class="textbox-prod navy-color d-flex align-items-center">
                                                <p class="text-light mt-0 mb-0">Circle pattern girls shirt</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hover-card rounded p-0 ">
                                        <div class="prod-info-hover d-flex align-content-end flex-wrap text-light">
                                            <div class="fill"></div>
                                            <div class="text d-flex flex-column">
                                                <p class="m-1">Circle pattern girls shirt</p>
                                                <p class="m-1 fashion-border">Fashion</p>
                                                <p class="m-1"><strike>$220.00</strike></p>
                                                <p class="m-1 teal">$190.00</p>
                                            </div>
                                        </div>
                                        <!-- Ikon-funktion: johannes -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Second Carousel item -->
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-3">
                            <div class="d-block ">
                                <div class="prod-card">
                                    <div class="start-card">
                                        <div class="teal-bg small-circle d-flex justify-content-center align-items-center">
                                            <p class="mb-0 text-light">NEW</p>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img class="d-block rounded" src="/src/img/products/product-hat.svg">
                                        </div>
                                        <div class="textbox-prod navy-color d-flex align-items-center">
                                            <p class="text-light mt-0 mb-0">Blue silk sleeved top</p>
                                        </div>
                                    </div>
                                    <div class="hover-card rounded p-0 ">
                                        <div class="prod-info-hover d-flex align-content-end flex-wrap text-light">
                                            <div class="fill"></div>
                                            <div class="text d-flex flex-column">
                                                <p class="m-1">New look men's coat</p>
                                                <p class="m-1 fashion-border">Fashion</p>
                                                <p class="m-1"><strike>$220.00</strike></p>
                                                <p class="m-1 teal">$190.00</p>
                                            </div>
                                        </div>
                                        <!-- Ikon-funktion: johannes -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-block w-100 rounded">
                                <div class="prod-card">
                                    <div class="start-card rounded p-0 ">
                                        <div class="teal-bg small-circle d-flex justify-content-center align-items-center">
                                            <p class="mb-0 text-light">NEW</p>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img class="d-block rounded" src="/src/img/products/product-hat.svg">
                                        </div>
                                        <div class="textbox-prod navy-color d-flex align-items-center">
                                            <p class="text-light mt-0 mb-0">Blue silk sleeved top</p>
                                        </div>
                                    </div>
                                    <div class="hover-card rounded p-0 ">
                                        <div class="prod-info-hover d-flex align-content-end flex-wrap text-light">
                                            <div class="fill"></div>
                                            <div class="text d-flex flex-column">
                                                <p class="m-1">New look men's coat</p>
                                                <p class="m-1 fashion-border">Fashion</p>
                                                <p class="m-1"><strike>$220.00</strike></p>
                                                <p class="m-1 teal">$190.00</p>
                                            </div>
                                        </div>
                                        <!-- Ikon-funktion: johannes -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-block w-100 rounded">
                                <div class="prod-card">
                                    <div class="start-card rounded p-0 ">
                                        <div class="teal-bg small-circle d-flex justify-content-center align-items-center">
                                            <p class="mb-0 text-light">NEW</p>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img class="d-block rounded" src="/src/img/products/product-hat.svg">
                                        </div>
                                        <div class="textbox-prod navy-color d-flex align-items-center">
                                            <p class="text-light mt-0 mb-0">Blue silk sleeved top</p>
                                        </div>
                                    </div>
                                    <div class="hover-card rounded p-0 ">
                                        <div class="prod-info-hover d-flex align-content-end flex-wrap text-light">
                                            <div class="fill"></div>
                                            <div class="text d-flex flex-column">
                                                <p class="m-1">New look men's coat</p>
                                                <p class="m-1 fashion-border">Fashion</p>
                                                <p class="m-1"><strike>$220.00</strike></p>
                                                <p class="m-1 teal">$190.00</p>
                                            </div>
                                        </div>
                                        <!-- Ikon-funktion: johannes -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-block w-100 rounded">
                                <div class="prod-card">
                                    <div class="start-card rounded p-0 ">
                                        <div class="teal-bg small-circle d-flex justify-content-center align-items-center">
                                            <p class="mb-0 text-light">NEW</p>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img class="d-block rounded" src="/src/img/products/product-hat.svg">
                                        </div>
                                        <div class="textbox-prod navy-color d-flex align-items-center">
                                            <p class="text-light mt-0 mb-0">Blue silk sleeved top</p>
                                        </div>
                                    </div>
                                    <div class="hover-card rounded p-0 ">
                                        <div class="prod-info-hover d-flex align-content-end flex-wrap text-light">
                                            <div class="fill"></div>
                                            <div class="text d-flex flex-column">
                                                <p class="m-1">New look men's coat</p>
                                                <p class="m-1 fashion-border">Fashion</p>
                                                <p class="m-1"><strike>$220.00</strike></p>
                                                <p class="m-1 teal">$190.00</p>
                                            </div>
                                        </div>
                                        <!-- Ikon-funktion: johannes -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Third Carousel item -->
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-3">
                            <div class="d-block w-100 rounded">
                                <div class="prod-card">
                                    <div class="start-card rounded p-0 ">
                                        <div class="teal-bg small-circle d-flex justify-content-center align-items-center">
                                            <p class="mb-0 text-light">NEW</p>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img class="d-block rounded" src="/src/img/products/product-hat.svg">
                                        </div>
                                        <div class="textbox-prod navy-color d-flex align-items-center">
                                            <p class="text-light mt-0 mb-0">Blue silk sleeved top</p>
                                        </div>
                                    </div>
                                    <div class="hover-card rounded p-0 ">
                                        <div class="prod-info-hover d-flex align-content-end flex-wrap text-light">
                                            <div class="fill"></div>
                                            <div class="text d-flex flex-column">
                                                <p class="m-1">New look men's coat</p>
                                                <p class="m-1 fashion-border">Fashion</p>
                                                <p class="m-1"><strike>$220.00</strike></p>
                                                <p class="m-1 teal">$190.00</p>
                                            </div>
                                        </div>
                                        <!-- Ikon-funktion: johannes -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-block w-100 rounded">
                                <div class="prod-card">
                                    <div class="start-card rounded p-0 ">
                                        <div class="teal-bg small-circle d-flex justify-content-center align-items-center">
                                            <p class="mb-0 text-light">NEW</p>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img class="d-block rounded" src="/src/img/products/product-hat.svg">
                                        </div>
                                        <div class="textbox-prod navy-color d-flex align-items-center">
                                            <p class="text-light mt-0 mb-0">Blue silk sleeved top</p>
                                        </div>
                                    </div>
                                    <div class="hover-card rounded p-0 ">
                                        <div class="prod-info-hover d-flex align-content-end flex-wrap text-light">
                                            <div class="fill"></div>
                                            <div class="text d-flex flex-column">
                                                <p class="m-1">New look men's coat</p>
                                                <p class="m-1 fashion-border">Fashion</p>
                                                <p class="m-1"><strike>$220.00</strike></p>
                                                <p class="m-1 teal">$190.00</p>
                                            </div>
                                        </div>
                                        <!-- Ikon-funktion: johannes -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-block w-100 rounded">
                                <div class="prod-card">
                                    <div class="start-card rounded p-0 ">
                                        <div class="teal-bg small-circle d-flex justify-content-center align-items-center">
                                            <p class="mb-0 text-light">NEW</p>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img class="d-block rounded" src="/src/img/products/product-hat.svg">
                                        </div>
                                        <div class="textbox-prod navy-color d-flex align-items-center">
                                            <p class="text-light mt-0 mb-0">Blue silk sleeved top</p>
                                        </div>
                                    </div>
                                    <div class="hover-card rounded p-0 ">
                                        <div class="prod-info-hover d-flex align-content-end flex-wrap text-light">
                                            <div class="fill"></div>
                                            <div class="text d-flex flex-column">
                                                <p class="m-1">New look men's coat</p>
                                                <p class="m-1 fashion-border">Fashion</p>
                                                <p class="m-1"><strike>$220.00</strike></p>
                                                <p class="m-1 teal">$190.00</p>
                                            </div>
                                        </div>
                                        <!-- Ikon-funktion: johannes -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-block w-100 rounded">
                                <div class="prod-card">
                                    <div class="start-card rounded p-0 ">
                                        <div class="teal-bg small-circle d-flex justify-content-center align-items-center">
                                            <p class="mb-0 text-light">NEW</p>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img class="d-block rounded" src="/src/img/products/product-hat.svg">
                                        </div>
                                        <div class="textbox-prod navy-color d-flex align-items-center">
                                            <p class="text-light mt-0 mb-0">Blue silk sleeved top</p>
                                        </div>
                                    </div>
                                    <div class="hover-card rounded p-0 ">
                                        <div class="prod-info-hover d-flex align-content-end flex-wrap text-light">
                                            <div class="fill"></div>
                                            <div class="text d-flex flex-column">
                                                <p class="m-1">New look men's coat</p>
                                                <p class="m-1 fashion-border">Fashion</p>
                                                <p class="m-1"><strike>$220.00</strike></p>
                                                <p class="m-1 teal">$190.00</p>
                                            </div>
                                        </div>
                                        <!-- Ikon-funktion: johannes -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
            <span class="" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>




        <div class="row">
            <div class="carousel-indicators m-0">
                <button id="test" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1">
                    <div class="dot rounded middle-gray-bg"></div>
                </button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2">
                    <div class="dot rounded middle-gray-bg"></div>
                </button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3">
                    <div class="dot rounded middle-gray-bg"></div>
                </button>
            </div>
        </div>






    </div>
</div>





















<!-- RELATED PRODUCTS -->
<div class="container">
    <div class="d-flex justify-content-center">
        <div>
            <div class="Roboto-play-bold-36">
                <span>
                    RELATED
                    <span class="teal">PRODUCTS</span>
                </span>
            </div>
            <div class="d-flex justify-content-center">
                <img src="/src/img/products/squiggly-line.svg" alt="line">
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <!-- Carousel från Alex + Johannes med modifiering -->
    <div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="false">
        <div class="row">
            <div class="carousel-inner">
                <div class="carousel-item active ">
                    <div class="row">
                        <div class="col-3">

                            <div class="prod-card">
                                <div class="start-card rounded p-0 ">
                                    <div>
                                        <!-- NEW CIRCLE TEAL - FIX -->
                                        <div class="teal-bg small-circle d-flex justify-content-center align-items-center">
                                            <p class="mb-0 text-light">NEW</p>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <img class="d-block rounded" src="/src/img/products/product-hat.svg">
                                    </div>
                                    <div>
                                        <div class="textbox-prod navy-color d-flex align-items-center">
                                            <p class="text-light mt-0 mb-0">Blue silk sleeved top</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="hover-card rounded p-0 ">
                                    <div class="prod-info-hover d-flex align-content-end flex-wrap text-light">
                                        <div class="fill"></div>
                                        <div class="text d-flex flex-column">
                                            <p class="m-1">New look men's coat</p>
                                            <p class="m-1 fashion-border">Fashion</p>
                                            <p class="m-1"><strike>$220.00</strike></p>
                                            <p class="m-1 teal">$190.00</p>
                                        </div>
                                    </div>
                                    <!-- Ikon-funktion: johannes -->
                                </div>
                            </div>

                        </div>


















                        <div class="col-3">
                            <div class="d-block w-100 rounded">
                                <div class="prod-card">
                                    <div class="start-card rounded p-0 ">
                                        <div>
                                            <div class="teal-bg small-circle d-flex justify-content-center align-items-center">
                                                <p class="mb-0 text-light">NEW</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img src="/src/img/products/product-shoes.svg">
                                        </div>
                                        <div>
                                            <div class="textbox-prod navy-color d-flex align-items-center">
                                                <p class="text-light mt-0 mb-0">New look men's coat</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hover-card rounded p-0 ">
                                        <div class="prod-info-hover d-flex align-content-end flex-wrap text-light">
                                            <div class="fill"></div>
                                            <div class="text d-flex flex-column">
                                                <p class="m-1">New look men's coat</p>
                                                <p class="m-1 fashion-border">Fashion</p>
                                                <p class="m-1"><strike>$220.00</strike></p>
                                                <p class="m-1 teal">$190.00</p>
                                            </div>
                                        </div>
                                        <!-- Ikon-funktion: johannes -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-block w-100 rounded">
                                <div class="prod-card">
                                    <div class="start-card rounded p-0 ">
                                        <div>
                                            <div class="green-bg small-circle d-flex justify-content-center align-items-center">
                                                <p class="mb-0 text-light">-20%</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img class="d-block rounded" src="/src/img/products/product-dress.svg">
                                        </div>
                                        <div>
                                            <div class="textbox-prod navy-color d-flex align-items-center">
                                                <p class="text-light mt-0 mb-0">Circle pattern girls shirt</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hover-card rounded p-0 ">
                                        <div class="prod-info-hover d-flex align-content-end flex-wrap text-light">
                                            <div class="fill"></div>
                                            <div class="text d-flex flex-column">
                                                <p class="m-1">Circle pattern girls shirt</p>
                                                <p class="m-1 fashion-border">Fashion</p>
                                                <p class="m-1"><strike>$220.00</strike></p>
                                                <p class="m-1 teal">$190.00</p>
                                            </div>
                                        </div>
                                        <!-- Ikon-funktion: johannes -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-block w-100 rounded">
                                <div class="prod-card">
                                    <div class="start-card rounded p-0 ">
                                        <div>
                                            <div class="green-bg small-circle d-flex justify-content-center align-items-center">
                                                <p class="mb-0 text-light font-r">-20%</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img class="d-block rounded" src="/src/img/products/product-dress.svg">
                                        </div>
                                        <div>
                                            <div class="textbox-prod navy-color d-flex align-items-center">
                                                <p class="text-light mt-0 mb-0">Circle pattern girls shirt</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hover-card rounded p-0 ">
                                        <div class="prod-info-hover d-flex align-content-end flex-wrap text-light">
                                            <div class="fill"></div>
                                            <div class="text d-flex flex-column">
                                                <p class="m-1">Circle pattern girls shirt</p>
                                                <p class="m-1 fashion-border">Fashion</p>
                                                <p class="m-1"><strike>$220.00</strike></p>
                                                <p class="m-1 teal">$190.00</p>
                                            </div>
                                        </div>
                                        <!-- Ikon-funktion: johannes -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-3">
                            <div class="d-block ">
                                <div class="prod-card">
                                    <div class="start-card">
                                        <div class="teal-bg small-circle d-flex justify-content-center align-items-center">
                                            <p class="mb-0 text-light">NEW</p>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img class="d-block rounded" src="/src/img/products/product-hat.svg">
                                        </div>
                                        <div class="textbox-prod navy-color d-flex align-items-center">
                                            <p class="text-light mt-0 mb-0">Blue silk sleeved top</p>
                                        </div>
                                    </div>
                                    <div class="hover-card rounded p-0 ">
                                        <div class="prod-info-hover d-flex align-content-end flex-wrap text-light">
                                            <div class="fill"></div>
                                            <div class="text d-flex flex-column">
                                                <p class="m-1">New look men's coat</p>
                                                <p class="m-1 fashion-border">Fashion</p>
                                                <p class="m-1"><strike>$220.00</strike></p>
                                                <p class="m-1 teal">$190.00</p>
                                            </div>
                                        </div>
                                        <!-- Ikon-funktion: johannes -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-block w-100 rounded">
                                <div class="prod-card">
                                    <div class="start-card rounded p-0 ">
                                        <div class="teal-bg small-circle d-flex justify-content-center align-items-center">
                                            <p class="mb-0 text-light">NEW</p>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img class="d-block rounded" src="/src/img/products/product-hat.svg">
                                        </div>
                                        <div class="textbox-prod navy-color d-flex align-items-center">
                                            <p class="text-light mt-0 mb-0">Blue silk sleeved top</p>
                                        </div>
                                    </div>
                                    <div class="hover-card rounded p-0 ">
                                        <div class="prod-info-hover d-flex align-content-end flex-wrap text-light">
                                            <div class="fill"></div>
                                            <div class="text d-flex flex-column">
                                                <p class="m-1">New look men's coat</p>
                                                <p class="m-1 fashion-border">Fashion</p>
                                                <p class="m-1"><strike>$220.00</strike></p>
                                                <p class="m-1 teal">$190.00</p>
                                            </div>
                                        </div>
                                        <!-- Ikon-funktion: johannes -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-block w-100 rounded">
                                <div class="prod-card">
                                    <div class="start-card rounded p-0 ">
                                        <div class="teal-bg small-circle d-flex justify-content-center align-items-center">
                                            <p class="mb-0 text-light">NEW</p>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img class="d-block rounded" src="/src/img/products/product-hat.svg">
                                        </div>
                                        <div class="textbox-prod navy-color d-flex align-items-center">
                                            <p class="text-light mt-0 mb-0">Blue silk sleeved top</p>
                                        </div>
                                    </div>
                                    <div class="hover-card rounded p-0 ">
                                        <div class="prod-info-hover d-flex align-content-end flex-wrap text-light">
                                            <div class="fill"></div>
                                            <div class="text d-flex flex-column">
                                                <p class="m-1">New look men's coat</p>
                                                <p class="m-1 fashion-border">Fashion</p>
                                                <p class="m-1"><strike>$220.00</strike></p>
                                                <p class="m-1 teal">$190.00</p>
                                            </div>
                                        </div>
                                        <!-- Ikon-funktion: johannes -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-3">
                            <div class="d-block w-100 rounded">
                                <div class="prod-card">
                                    <div class="start-card rounded p-0 ">
                                        <div class="teal-bg small-circle d-flex justify-content-center align-items-center">
                                            <p class="mb-0 text-light">NEW</p>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img class="d-block rounded" src="/src/img/products/product-hat.svg">
                                        </div>
                                        <div class="textbox-prod navy-color d-flex align-items-center">
                                            <p class="text-light mt-0 mb-0">Blue silk sleeved top</p>
                                        </div>
                                    </div>
                                    <div class="hover-card rounded p-0 ">
                                        <div class="prod-info-hover d-flex align-content-end flex-wrap text-light">
                                            <div class="fill"></div>
                                            <div class="text d-flex flex-column">
                                                <p class="m-1">New look men's coat</p>
                                                <p class="m-1 fashion-border">Fashion</p>
                                                <p class="m-1"><strike>$220.00</strike></p>
                                                <p class="m-1 teal">$190.00</p>
                                            </div>
                                        </div>
                                        <!-- Ikon-funktion: johannes -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-block w-100 rounded">
                                <div class="prod-card">
                                    <div class="start-card rounded p-0 ">
                                        <div class="teal-bg small-circle d-flex justify-content-center align-items-center">
                                            <p class="mb-0 text-light">NEW</p>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img class="d-block rounded" src="/src/img/products/product-hat.svg">
                                        </div>
                                        <div class="textbox-prod navy-color d-flex align-items-center">
                                            <p class="text-light mt-0 mb-0">Blue silk sleeved top</p>
                                        </div>
                                    </div>
                                    <div class="hover-card rounded p-0 ">
                                        <div class="prod-info-hover d-flex align-content-end flex-wrap text-light">
                                            <div class="fill"></div>
                                            <div class="text d-flex flex-column">
                                                <p class="m-1">New look men's coat</p>
                                                <p class="m-1 fashion-border">Fashion</p>
                                                <p class="m-1"><strike>$220.00</strike></p>
                                                <p class="m-1 teal">$190.00</p>
                                            </div>
                                        </div>
                                        <!-- Ikon-funktion: johannes -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-block w-100 rounded">
                                <div class="prod-card">
                                    <div class="start-card rounded p-0 ">
                                        <div class="teal-bg small-circle d-flex justify-content-center align-items-center">
                                            <p class="mb-0 text-light">NEW</p>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img class="d-block rounded" src="/src/img/products/product-hat.svg">
                                        </div>
                                        <div class="textbox-prod navy-color d-flex align-items-center">
                                            <p class="text-light mt-0 mb-0">Blue silk sleeved top</p>
                                        </div>
                                    </div>
                                    <div class="hover-card rounded p-0 ">
                                        <div class="prod-info-hover d-flex align-content-end flex-wrap text-light">
                                            <div class="fill"></div>
                                            <div class="text d-flex flex-column">
                                                <p class="m-1">New look men's coat</p>
                                                <p class="m-1 fashion-border">Fashion</p>
                                                <p class="m-1"><strike>$220.00</strike></p>
                                                <p class="m-1 teal">$190.00</p>
                                            </div>
                                        </div>
                                        <!-- Ikon-funktion: johannes -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2"
                data-bs-slide="next">
            <span class="" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>





        <div class="carousel-indicators">
            <button id="test" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0"
                    class="active" aria-current="true" aria-label="Slide 1">
                <div class="dot rounded middle-gray-bg"></div>
            </button>
            <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1"
                    aria-label="Slide 2">
                <div class="dot rounded middle-gray-bg"></div>
            </button>
            <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2"
                    aria-label="Slide 3">
                <div class="dot rounded middle-gray-bg"></div>
            </button>
        </div>






    </div>
</div>