@page "/shoppingcart"

<section id="section">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-md navbar-dark bannerHead">
                <a href="#" class="navbar-brand"></a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a href="#" class="nav-item nav-link">
                            <div class="first">
                                <p>Shopping Cart &emsp;<i class="fas fa-angle-right"></i></p>
                            </div>
                        </a>
                        <a href="#" class="nav-item nav-link">
                            <div class="second">
                                <p>Checkout &emsp;<i class="fas fa-angle-right"></i></p>
                            </div>
                        </a>
                        <a href="#" class="nav-item nav-link">
                            <div class="third">
                                <p>Order Complete &emsp;</p>
                            </div>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</section>



<section class="productTable">
    <div class="container d-flex justify-content-start">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <div class="formatingHeaders">
                        <tr id="scope">
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </div>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                            <i class="fas fa-times-circle"></i>
                            <img src="img/wmnshoe.svg" alt="womansshoe">
                        </th>

                        <td><p id="priceColumn">$190.00</p></td>
                        <td>
                            <div class="number">
                                <span class="minus">-</span>
                                <input type="text" value="2" />
                                <span class="plus">+</span>
                            </div>
                        </td>
                        <td><p id="subTotalColumn">$380.00</p></td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <i class="fas fa-times-circle"></i>
                            <img src="img/gentsshirt.svg" alt="gentsshirt">
                        </th>
                        <td><p id="priceColumn">$280.00</p></td>
                        <td>
                            <div class="number">
                                <span class="minus">-</span>
                                <input type="text" value="1" />
                                <span class="plus">+</span>
                            </div>
                        </td>
                        <td><p id="subTotalColumn">$280.00</p></td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <i class="fas fa-times-circle"></i>
                            <img src="img/gentsjacket.svg" alt="gentsjacket">
                        </th>
                        <td><p id="priceColumn">$160.00</p></td>
                        <td>
                            <div class="number">
                                <span class="minus">-</span>
                                <input type="text" value="1" />
                                <span class="plus">+</span>
                            </div>
                        </td>
                        <td><p id="subTotalColumn">$160.00</p></td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <i class="fas fa-times-circle"></i>
                            <img src="img/menswatch.svg" alt="menswatch">
                        </th>
                        <td><p id="priceColumn">$90.00</p></td>
                        <td>
                            <div class="number">
                                <span class="minus">-</span>
                                <input type="text" value="1" />
                                <span class="plus">+</span>
                            </div>
                        </td>
                        <td><p id="subTotalColumn">$90.00</p></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="cartTotals">
            <div class="col-6 col-lg-4">
                <div class="grid mb-auto cartTotals">
                    <div class="headerTotals">CART TOTALS</div>
                    <div class="innerCartTotals">
                        <div class="float-container">

                            <!-- < Content of products in cart -->

                            <div class="row">
                                <div class="col-md-3  p-5">Subtotal</div>
                                <div class="col-md-3"></div>
                                <div class="col-md-3 p-5" style="position: relative; left: 25px; color: var(--text-teal);">$910.00</div>
                            </div>
                            <hr style="width:82%; margin: -15px 20px; color: lightgrey;">
                            <br>
                            <div class="row">
                                <div class="col-sm-5 p-5" style="align-self: center;">
                                    Shipping
                                </div>
                                <div class="col-sm-7">
                                    <form action="/action_page.php">
                                        <label for="flatRate">Flat rate <span style="color: var(--text-teal);">$20.00</span></label>
                                        <input style="position: relative; left: 32px; background-color: var(--text-teal);" class="m-1" type="radio" id="flatRate" name="flatRate" value="20">
                                        <br>
                                        <label for="freeShipping">Free shipping</label>
                                        <input style="position: relative; left: 48px" class="m-1" type="radio" id="freeShipping" name="freeShipping" value="0">
                                        <br>
                                        <label for="localPickup">Local pickup <span style="color: var(--text-teal);">$25.00</span></label>
                                        <input class="m-1" type="radio" id="localPickup" name="localPickup" value="25">
                                        <br>
                                        <label for="age1">Shipping to <span style="color: lightgrey;">AL.</span></label>
                                        <input style="position: relative; left: 36px" class="m-1" type="radio" id="age1" name="age" value="30">
                                        <br>
                                        <label for="age1">Change address</label>
                                        <input style="position: relative; left: 28px" class="m-1" type="radio" id="age1" name="age" value="30">
                                    </form>
                                </div>
                            </div>
                            <br>
                            <hr style="width:82%; margin: -15px 20px; color: lightgrey;">
                            <div class="row">
                                <div class="col-md-3 p-5">TOTAL</div>
                                <div class="col-md-3"></div>
                                <div class="col-md-3 p-5" style="position: relative; left: 28px; color: var(--teal);">$930.00</div>
                            </div>
                            <!-- </ Content of products in cart -->
                        </div>

                        <div style="margin-left: 30px;">
                            <a href="/checkout">
                                <div class="checkOut">
                                    PROCEED TO CHECKOUT
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="updateCartButton">UPDATE CART</div>
    <div class="couponArea">
        <div class="couponDiv">
            If you have a coupon code, please apply it below.
            <div class="couponField">
                <!-- <div class="couponCode"> -->
                <div class="input-group">
                    <div class="input-group-text" id="btnGroupAddon">Coupon code</div>
                    <input type="text" class="form-control" placeholder="Apply Coupon" aria-label="Apply Coupon" aria-describedby="btnGroupAddon">
                </div>
                <!-- </div>   -->
            </div>
        </div>
    </div>
</section>

<!-- < YOU MAY ALSO LIKE -->
<section id="YOU-MAY-ALSO-LIKE">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div>
                <div class="Roboto-play-bold-36">
                    <span>
                        YOU MAY
                        <span class="teal">ALSO LIKE</span>
                    </span>
                </div>
                <div class="d-flex justify-content-center">
                    <img src="img/squiggly-line.svg" alt="line">
                </div>
            </div>
        </div>
    </div>



    <!-- Carousel från Alex + Johannes med modifiering -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false">
        <div class="row">
            <!-- First Carousel item -->
            <div class="carousel-inner">
                <div class="carousel-item active ">
                    <div class="row">
                        <div class="col-3">
                            <div class="prod-card">
                                <div class="start-card p-0 ">
                                    <div>
                                        <!-- NEW CIRCLE TEAL - FIX -->
                                        <div class="teal-bg small-circle d-flex justify-content-center align-items-center">
                                            <p class="mb-0 text-light">NEW</p>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <img class="d-block" src="/img/product-hat.svg">
                                    </div>
                                    <div>
                                        <div class="textbox-prod navy-color d-flex align-items-center">
                                            <p class="text-light mt-0 mb-0">Blue silk sleeved top</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="hover-card p-0 ">
                                    <div class="prod-info-hover d-flex align-content-end flex-wrap text-light">
                                        <div class="fill"></div>
                                        <div class="text d-flex flex-column">
                                            <p class="m-1">New look men's coat</p>
                                            <p class="m-1 fashion-border">Fashion</p>
                                            <p class="m-1"><strike>$220.00</strike></p>
                                            <p class="m-1 teal">$190.00</p>
                                        </div>
                                    </div>
                                    <!-- Ikon-funktion: johannes -->
                                </div>
                            </div>

                        </div>
                        <div class="col-3">
                            <div class="d-block w-100 rounded">
                                <div class="prod-card">
                                    <div class="start-card rounded p-0 ">
                                        <div>
                                            <div class="teal-bg small-circle d-flex justify-content-center align-items-center">
                                                <p class="mb-0 text-light">NEW</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img src="/img/product-shoes.svg">
                                        </div>
                                        <div>
                                            <div class="textbox-prod navy-color d-flex align-items-center">
                                                <p class="text-light mt-0 mb-0">New look men's coat</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hover-card rounded p-0 ">
                                        <div class="prod-info-hover d-flex align-content-end flex-wrap text-light">
                                            <div class="fill"></div>
                                            <div class="text d-flex flex-column">
                                                <p class="m-1">New look men's coat</p>
                                                <p class="m-1 fashion-border">Fashion</p>
                                                <p class="m-1"><strike>$220.00</strike></p>
                                                <p class="m-1 teal">$190.00</p>
                                            </div>
                                        </div>
                                        <!-- Ikon-funktion: johannes -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-block w-100 rounded">
                                <div class="prod-card">
                                    <div class="start-card rounded p-0 ">
                                        <div>
                                            <div class="green-bg small-circle d-flex justify-content-center align-items-center">
                                                <p class="mb-0 text-light">-20%</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img class="d-block rounded" src="/img/product-dress.svg">
                                        </div>
                                        <div>
                                            <div class="textbox-prod navy-color d-flex align-items-center">
                                                <p class="text-light mt-0 mb-0">Circle pattern girls shirt</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hover-card rounded p-0 ">
                                        <div class="prod-info-hover d-flex align-content-end flex-wrap text-light">
                                            <div class="fill"></div>
                                            <div class="text d-flex flex-column">
                                                <p class="m-1">Circle pattern girls shirt</p>
                                                <p class="m-1 fashion-border">Fashion</p>
                                                <p class="m-1"><strike>$220.00</strike></p>
                                                <p class="m-1 teal">$190.00</p>
                                            </div>
                                        </div>
                                        <!-- Ikon-funktion: johannes -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-block w-100 rounded">
                                <div class="prod-card">
                                    <div class="start-card rounded p-0 ">
                                        <div>
                                            <div class="green-bg small-circle d-flex justify-content-center align-items-center">
                                                <p class="mb-0 text-light font-r">-20%</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img class="d-block rounded" src="/img/product-widedress.svg">
                                        </div>
                                        <div>
                                            <div class="textbox-prod navy-color d-flex align-items-center">
                                                <p class="text-light mt-0 mb-0">Circle pattern girls shirt</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hover-card rounded p-0 ">
                                        <div class="prod-info-hover d-flex align-content-end flex-wrap text-light">
                                            <div class="fill"></div>
                                            <div class="text d-flex flex-column">
                                                <p class="m-1">Circle pattern girls shirt</p>
                                                <p class="m-1 fashion-border">Fashion</p>
                                                <p class="m-1"><strike>$220.00</strike></p>
                                                <p class="m-1 teal">$190.00</p>
                                            </div>
                                        </div>
                                        <!-- Ikon-funktion: johannes -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Second Carousel item -->
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-3">
                            <div class="d-block ">
                                <div class="prod-card">
                                    <div class="start-card">
                                        <div class="teal-bg small-circle d-flex justify-content-center align-items-center">
                                            <p class="mb-0 text-light">NEW</p>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img class="d-block rounded" src="/img/product-hat.svg">
                                        </div>
                                        <div class="textbox-prod navy-color d-flex align-items-center">
                                            <p class="text-light mt-0 mb-0">Blue silk sleeved top</p>
                                        </div>
                                    </div>
                                    <div class="hover-card rounded p-0 ">
                                        <div class="prod-info-hover d-flex align-content-end flex-wrap text-light">
                                            <div class="fill"></div>
                                            <div class="text d-flex flex-column">
                                                <p class="m-1">New look men's coat</p>
                                                <p class="m-1 fashion-border">Fashion</p>
                                                <p class="m-1"><strike>$220.00</strike></p>
                                                <p class="m-1 teal">$190.00</p>
                                            </div>
                                        </div>
                                        <!-- Ikon-funktion: johannes -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-block w-100 rounded">
                                <div class="prod-card">
                                    <div class="start-card rounded p-0 ">
                                        <div class="teal-bg small-circle d-flex justify-content-center align-items-center">
                                            <p class="mb-0 text-light">NEW</p>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img class="d-block rounded" src="/img/product-hat.svg">
                                        </div>
                                        <div class="textbox-prod navy-color d-flex align-items-center">
                                            <p class="text-light mt-0 mb-0">Blue silk sleeved top</p>
                                        </div>
                                    </div>
                                    <div class="hover-card rounded p-0 ">
                                        <div class="prod-info-hover d-flex align-content-end flex-wrap text-light">
                                            <div class="fill"></div>
                                            <div class="text d-flex flex-column">
                                                <p class="m-1">New look men's coat</p>
                                                <p class="m-1 fashion-border">Fashion</p>
                                                <p class="m-1"><strike>$220.00</strike></p>
                                                <p class="m-1 teal">$190.00</p>
                                            </div>
                                        </div>
                                        <!-- Ikon-funktion: johannes -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-block w-100 rounded">
                                <div class="prod-card">
                                    <div class="start-card rounded p-0 ">
                                        <div class="teal-bg small-circle d-flex justify-content-center align-items-center">
                                            <p class="mb-0 text-light">NEW</p>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img class="d-block rounded" src="/img/product-hat.svg">
                                        </div>
                                        <div class="textbox-prod navy-color d-flex align-items-center">
                                            <p class="text-light mt-0 mb-0">Blue silk sleeved top</p>
                                        </div>
                                    </div>
                                    <div class="hover-card rounded p-0 ">
                                        <div class="prod-info-hover d-flex align-content-end flex-wrap text-light">
                                            <div class="fill"></div>
                                            <div class="text d-flex flex-column">
                                                <p class="m-1">New look men's coat</p>
                                                <p class="m-1 fashion-border">Fashion</p>
                                                <p class="m-1"><strike>$220.00</strike></p>
                                                <p class="m-1 teal">$190.00</p>
                                            </div>
                                        </div>
                                        <!-- Ikon-funktion: johannes -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-block w-100 rounded">
                                <div class="prod-card">
                                    <div class="start-card rounded p-0 ">
                                        <div class="teal-bg small-circle d-flex justify-content-center align-items-center">
                                            <p class="mb-0 text-light">NEW</p>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img class="d-block rounded" src="/img/product-hat.svg">
                                        </div>
                                        <div class="textbox-prod navy-color d-flex align-items-center">
                                            <p class="text-light mt-0 mb-0">Blue silk sleeved top</p>
                                        </div>
                                    </div>
                                    <div class="hover-card rounded p-0 ">
                                        <div class="prod-info-hover d-flex align-content-end flex-wrap text-light">
                                            <div class="fill"></div>
                                            <div class="text d-flex flex-column">
                                                <p class="m-1">New look men's coat</p>
                                                <p class="m-1 fashion-border">Fashion</p>
                                                <p class="m-1"><strike>$220.00</strike></p>
                                                <p class="m-1 teal">$190.00</p>
                                            </div>
                                        </div>
                                        <!-- Ikon-funktion: johannes -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Third Carousel item -->
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-3">
                            <div class="d-block w-100 rounded">
                                <div class="prod-card">
                                    <div class="start-card rounded p-0 ">
                                        <div class="teal-bg small-circle d-flex justify-content-center align-items-center">
                                            <p class="mb-0 text-light">NEW</p>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img class="d-block rounded" src="/img/product-hat.svg">
                                        </div>
                                        <div class="textbox-prod navy-color d-flex align-items-center">
                                            <p class="text-light mt-0 mb-0">Blue silk sleeved top</p>
                                        </div>
                                    </div>
                                    <div class="hover-card rounded p-0 ">
                                        <div class="prod-info-hover d-flex align-content-end flex-wrap text-light">
                                            <div class="fill"></div>
                                            <div class="text d-flex flex-column">
                                                <p class="m-1">New look men's coat</p>
                                                <p class="m-1 fashion-border">Fashion</p>
                                                <p class="m-1"><strike>$220.00</strike></p>
                                                <p class="m-1 teal">$190.00</p>
                                            </div>
                                        </div>
                                        <!-- Ikon-funktion: johannes -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-block w-100 rounded">
                                <div class="prod-card">
                                    <div class="start-card rounded p-0 ">
                                        <div class="teal-bg small-circle d-flex justify-content-center align-items-center">
                                            <p class="mb-0 text-light">NEW</p>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img class="d-block rounded" src="/img/product-hat.svg">
                                        </div>
                                        <div class="textbox-prod navy-color d-flex align-items-center">
                                            <p class="text-light mt-0 mb-0">Blue silk sleeved top</p>
                                        </div>
                                    </div>
                                    <div class="hover-card rounded p-0 ">
                                        <div class="prod-info-hover d-flex align-content-end flex-wrap text-light">
                                            <div class="fill"></div>
                                            <div class="text d-flex flex-column">
                                                <p class="m-1">New look men's coat</p>
                                                <p class="m-1 fashion-border">Fashion</p>
                                                <p class="m-1"><strike>$220.00</strike></p>
                                                <p class="m-1 teal">$190.00</p>
                                            </div>
                                        </div>
                                        <!-- Ikon-funktion: johannes -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-block w-100 rounded">
                                <div class="prod-card">
                                    <div class="start-card rounded p-0 ">
                                        <div class="teal-bg small-circle d-flex justify-content-center align-items-center">
                                            <p class="mb-0 text-light">NEW</p>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img class="d-block rounded" src="/img/product-hat.svg">
                                        </div>
                                        <div class="textbox-prod navy-color d-flex align-items-center">
                                            <p class="text-light mt-0 mb-0">Blue silk sleeved top</p>
                                        </div>
                                    </div>
                                    <div class="hover-card rounded p-0 ">
                                        <div class="prod-info-hover d-flex align-content-end flex-wrap text-light">
                                            <div class="fill"></div>
                                            <div class="text d-flex flex-column">
                                                <p class="m-1">New look men's coat</p>
                                                <p class="m-1 fashion-border">Fashion</p>
                                                <p class="m-1"><strike>$220.00</strike></p>
                                                <p class="m-1 teal">$190.00</p>
                                            </div>
                                        </div>
                                        <!-- Ikon-funktion: johannes -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-block w-100 rounded">
                                <div class="prod-card">
                                    <div class="start-card rounded p-0 ">
                                        <div class="teal-bg small-circle d-flex justify-content-center align-items-center">
                                            <p class="mb-0 text-light">NEW</p>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <img class="d-block rounded" src="/img/product-hat.svg">
                                        </div>
                                        <div class="textbox-prod navy-color d-flex align-items-center">
                                            <p class="text-light mt-0 mb-0">Blue silk sleeved top</p>
                                        </div>
                                    </div>
                                    <div class="hover-card rounded p-0 ">
                                        <div class="prod-info-hover d-flex align-content-end flex-wrap text-light">
                                            <div class="fill"></div>
                                            <div class="text d-flex flex-column">
                                                <p class="m-1">New look men's coat</p>
                                                <p class="m-1 fashion-border">Fashion</p>
                                                <p class="m-1"><strike>$220.00</strike></p>
                                                <p class="m-1 teal">$190.00</p>
                                            </div>
                                        </div>
                                        <!-- Ikon-funktion: johannes -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
            <span class="" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>




        <div class="row">
            <div class="carousel-indicators m-0">
                <button id="test" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1">
                    <div class="dot rounded middle-gray-bg"></div>
                </button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2">
                    <div class="dot rounded middle-gray-bg"></div>
                </button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3">
                    <div class="dot rounded middle-gray-bg"></div>
                </button>
            </div>
        </div>






    </div>


</section>