@page "/shop"
@inject IJSRuntime jsRuntime
@inject HttpClient Http

<ProductDetailsModal Product=_modalProduct />

<section>
    <article class="banner pt-5 pb-5 bg-indigo">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col text-white">
                    <h1 class="fw-bold font-play">
                        New customers can get
                        <span class="text-teal">30% off</span>
                    </h1>
                    <div class="btn pill pill-teal">
                        LEARN MORE
                    </div>
                </div>
                <div class="col">
                    <img src="/src/img/shop/shop-shoes.svg">
                </div>
            </div>
        </div>
    </article>

    <article class="shop-container mt-5">
        <div class="container">
            <!-- Top Menu -->
            <div class="row shop-top-menu justify-content-between">
                <!-- Title + Breadcrumb -->
                <div class="col-4 col-xxl-6 col-xl-5 col-lg-4">
                    <h2 class="teal fw-bold">Shop</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item">
                                <a href="#" class="text-decoration-none text-dark">Home</a>
                            </li>
                            <li class="breadcrumb-item active mb-0" aria-current="page">Shop</li>
                        </ol>
                    </nav>
                </div>

                <!-- Filter Toggle Button -->
                <div id="btnToggleFilters" class="mt-3 d-block d-lg-none">
                    Show Filters
                </div>

                <!-- Spacer -->
                <div class="col-12 mb-3 d-lg-none"></div>

                <!-- Show x items -->
                <div class="col-12 col-lg mt-2 mb-2 me-4 px-xl-4 show-x-items filter-toggle-flex">
                    <div>
                        <span>
                            Show:
                            <a class="shop-product-n-link text-decoration-none text-white hover-teal" href="#">
                                9
                            </a>/
                            <a class="shop-product-n-link text-decoration-none text-white hover-teal active" href="#">
                                12
                            </a>/
                            <a class="shop-product-n-link text-decoration-none text-white hover-teal" href="#">
                                18
                            </a>/
                            <a class="shop-product-n-link text-decoration-none text-white hover-teal" href="#">
                                24
                            </a>
                        </span>
                    </div>
                </div>

                <!-- List/box/large box -->
                <div class="col col-lg mt-2 mb-2 me-1 me-sm-4 list-box-large-box filter-toggle-flex">
                    <a href="#"><i class="text-white hover-teal fs-2 me-3 fas fa-list"></i></a>
                    <a href="#"><i class="text-white hover-teal fs-2 me-3 fas fa-th-large"></i></a>
                    <a href="#"><i class="text-white hover-teal fs-2 me-0 fas fa-th"></i></a>
                </div>

                <!-- Sorting Dropdown -->
                <div class="col col-lg mt-2 mb-2 btn-sorting-container filter-toggle-flex">
                    <button class="btn btn-sorting dropdown-toggle" type="button" id="btnDropdownSorting"
                            data-bs-toggle="dropdown">
                        <span>Recommended</span>
                        <i class="fas fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnDropdownSorting">
                        <li><a class="dropdown-item" href="#">Recommended</a></li>
                        <li><a class="dropdown-item" href="#">Latest</a></li>
                        <li><a class="dropdown-item" href="#">Price (low to high)</a></li>
                        <li><a class="dropdown-item" href="#">Price (high to low)</a></li>
                        <li><a class="dropdown-item" href="#">Alphabetical (a-z)</a></li>
                        <li><a class="dropdown-item" href="#">Alphabetical (z-a)</a></li>
                    </ul>
                </div>

            </div>

            <!-- Main Row -->
            <div class="row row-cols-md-4 row-cols-lg-5 mt-5">
                <!-- Filter Column -->
                <div class="col-12 col-lg-3 filter-column">
                    <button type="button" class="btn pill pill-teal w-100 mb-3" @onclick="ApplyFilters">Apply filter(s)</button>
                    <!-- Filter by Categories -->
                    <div class="filter-categories mb-5">
                        <h6 class="teal fw-bold">Product Categories</h6>

                        <div class="filter-box-container text-box-container">
                            <div class="d-flex align-items-center">
                                <p class="my-0 d-inline">Men's</p>
                            </div>
                            <span class="filter-box-amount">12</span>
                        </div>

                        <div class="filter-box-container text-box-container">
                            <div class="d-flex align-items-center">
                                <p class="my-0 d-inline">Women's</p>
                            </div>
                            <span class="filter-box-amount">12</span>
                        </div>

                        <div class="filter-box-container text-box-container">
                            <div class="d-flex align-items-center">
                                <p class="my-0 d-inline">Kids</p>
                            </div>
                            <span class="filter-box-amount">12</span>
                        </div>

                        <div class="filter-box-container text-box-container">
                            <div class="d-flex align-items-center">
                                <p class="my-0 d-inline">Hats</p>
                            </div>
                            <span class="filter-box-amount">12</span>
                        </div>

                        <div class="filter-box-container text-box-container selected">
                            <div class="d-flex align-items-center">
                                <p class="my-0 d-inline">Sunglasses</p>
                            </div>
                            <span class="filter-box-amount">12</span>
                        </div>

                        <div class="filter-box-container text-box-container selected">
                            <div class="d-flex align-items-center">
                                <p class="my-0 d-inline">Shoes</p>
                            </div>
                            <span class="filter-box-amount">12</span>
                        </div>

                        <div class="filter-box-container text-box-container">
                            <div class="d-flex align-items-center">
                                <p class="my-0 d-inline">Men's</p>
                            </div>
                            <span class="filter-box-amount">12</span>
                        </div>

                        <div class="filter-box-container text-box-container">
                            <div class="d-flex align-items-center">
                                <p class="my-0 d-inline">Watches</p>
                            </div>
                            <span class="filter-box-amount">12</span>
                        </div>

                    </div>

                    <!-- Filter by Price -->
                    <div class="filter-price mb-5">
                        <h6 class="teal fw-bold">Filter by Price</h6>
                        <div class="slider-container py-2 mb-3">
                            <div id="slider-range-price"></div>
                        </div>

                        <div class="row align-items-center gx-0 justify-content-start justify-content-xxl-between">
                            <div class="col-6 col-xxl">
                                <label for="priceRangeAmount">Price:</label>
                            </div>
                            <div class="col-6 col-xxl-5">
                                <input type="text" id="priceRangeAmount" readonly class="border-0">
                            </div>
                        </div>
                    </div>

                    <!-- Filter by Color -->
                    <div class="filter-color mb-5">
                        <h6 class="teal fw-bold">Filter by Color</h6>

                        <div class="filter-box-container">
                            <div class="d-flex align-items-center">
                                <span class="color-box color-box-black">
                                    <i class="fas fa-check"></i>
                                </span>
                                <p class="ms-2 my-0 d-inline">Black</p>
                            </div>
                            <span class="filter-box-amount">12</span>
                        </div>
                        <div class="filter-box-container">
                            <div class="d-flex align-items-center">
                                <span class="color-box color-box-gray">
                                    <i class="fas fa-check"></i>
                                </span>
                                <p class="ms-2 my-0 d-inline">Gray</p>
                            </div>
                            <span class="filter-box-amount">20</span>
                        </div>
                        <div class="filter-box-container">
                            <div class="d-flex align-items-center">
                                <span class="color-box color-box-red">
                                    <i class="fas fa-check"></i>
                                </span>
                                <p class="ms-2 my-0 d-inline">Red</p>
                            </div>
                            <span class="filter-box-amount">18</span>
                        </div>
                        <div class="filter-box-container selected">
                            <div class="d-flex align-items-center">
                                <span class="color-box color-box-green">
                                    <i class="fas fa-check"></i>
                                </span>
                                <p class="ms-2 my-0 d-inline">Green</p>
                            </div>
                            <span class="filter-box-amount">25</span>
                        </div>
                    </div>

                    <!-- Filter by Size -->
                    <div class="filter-size mb-5">
                        <h6 class="teal fw-bold">Filter by Size</h6>

                        <div class="filter-box-container text-box-container">
                            <div class="d-flex align-items-center">
                                <p class="my-0 d-inline">XS</p>
                            </div>
                            <span class="filter-box-amount">18</span>
                        </div>

                        <div class="filter-box-container text-box-container selected">
                            <div class="d-flex align-items-center">
                                <p class="my-0 d-inline">S</p>
                            </div>
                            <span class="filter-box-amount">23</span>
                        </div>

                        <div class="filter-box-container text-box-container selected">
                            <div class="d-flex align-items-center">
                                <p class="my-0 d-inline">M</p>
                            </div>
                            <span class="filter-box-amount">32</span>
                        </div>

                        <div class="filter-box-container text-box-container">
                            <div class="d-flex align-items-center">
                                <p class="my-0 d-inline">L</p>
                            </div>
                            <span class="filter-box-amount">12</span>
                        </div>

                        <div class="filter-box-container text-box-container">
                            <div class="d-flex align-items-center">
                                <p class="my-0 d-inline">XL</p>
                            </div>
                            <span class="filter-box-amount">15</span>
                        </div>

                        <div class="filter-box-container text-box-container">
                            <div class="d-flex align-items-center">
                                <p class="my-0 d-inline">XXL</p>
                            </div>
                            <span class="filter-box-amount">12</span>
                        </div>

                    </div>

                    <!-- Filter by Brand -->
                    <div class="filter-brand mb-5">
                        <h6 class="teal fw-bold">Filter by Brand</h6>
                        <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2 gx-2 gy-2 mt-2">
                            <div class="col filter-brand-container">
                                <img class="p-2 border border-2 rounded-4 w-100 h-100" src="/src/img/brands/bexim.svg"
                                     alt="Bexim Logo">
                            </div>
                            <div class="col filter-brand-container">
                                <img class="p-2 border border-2 rounded-4 w-100 h-100" src="/src/img/brands/lighton.svg"
                                     alt="Lighton Logo">
                            </div>
                            <div class="col filter-brand-container">
                                <img class="p-2 border border-2 rounded-4 w-100 h-100" src="/src/img/brands/dismis.svg"
                                     alt="Dismis Logo">
                            </div>
                            <div class="col filter-brand-container selected">
                                <img class="p-2 border border-2 rounded-4 w-100 h-100" src="/src/img/brands/rosimo.svg"
                                     alt="Rosimo Logo">
                            </div>
                            <div class="col filter-brand-container">
                                <img class="p-2 border border-2 rounded-4 w-100 h-100" src="/src/img/brands/dallas.svg"
                                     alt="Dallas Logo">
                            </div>
                            <div class="col filter-brand-container">
                                <img class="p-2 border border-2 rounded-4 w-100 h-100" src="/src/img/brands/concord.svg"
                                     alt="Concord Logo">
                            </div>
                        </div>
                    </div>

                    <!-- Filter by Status -->
                    <div class="filter-status">
                        <h6 class="teal fw-bold">Product Status</h6>
                        <div class="row">
                            <div class="filter-status-container">
                                <input type="checkbox" id="cbOnSale">
                                <label for="cbOnSale">On Sale</label>
                            </div>
                            <div class="filter-status-container">
                                <input type="checkbox" id="cbInStock">
                                <label for="cbInStock">In Stock</label>
                            </div>
                        </div>

                    </div>

                    <button type="button" class="btn pill pill-teal w-100 mb-5 mt-3" @onclick="ApplyFilters">Apply filter(s)</button>


                    <!-- Top Rated Products -->
                    <!-- Top Rated Products -->
                    <div class="promo-top-products">
                        <h6 class="teal fw-bold">Top Rated Products</h6>
                        <div class="row g-0 justify-content-start align-items-center">
                            <div class="col-4 promo-product-container">
                                <img class="rounded-4" src="https://via.placeholder.com/70"
                                     alt="Placeholder Product Image">
                            </div>

                            <div class="col-8 promo-product-container">
                                <p class="p-0 m-0 pt-2">Circle Pattern Girls...</p>
                                <Rating Stars=4 />
                                <p class="promo-product-price fw-bold">$190</p>
                            </div>

                        </div>
                        <div class="row g-0 justify-content-start align-items-center">
                            <div class="col-4 promo-product-container">
                                <img class="rounded-4" src="https://via.placeholder.com/70"
                                     alt="Placeholder Product Image">
                            </div>

                            <div class="col-8 promo-product-container">
                                <p class="p-0 m-0 pt-2">Circle Pattern Girls...</p>
                                <Rating Stars=4 />
                                <p class="promo-product-price fw-bold">$190</p>
                            </div>

                        </div>
                        <div class="row g-0 justify-content-start align-items-center">
                            <div class="col-4 promo-product-container">
                                <img class="rounded-4" src="https://via.placeholder.com/70"
                                     alt="Placeholder Product Image">
                            </div>

                            <div class="col-8 promo-product-container">
                                <p class="p-0 m-0 pt-2">Circle Pattern Girls...</p>
                                <Rating Stars=4 />
                                <p class="promo-product-price fw-bold">$190</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Products Column/Row -->
                <div class="col-12 col-lg-9">
                    <div class="row row-cols-3 gy-4">
                        @if (_ProductViewModels == null)
                        {
                            <div class="col">
                                <p>Loading...</p>
                            </div>
                        }
                        else
                        {
                            @if (_ProductViewModels.Count < 1)
                            {
                                <div class="col">
                                    <p>No products available...</p>
                                </div>
                            }
                            else
                            {
                                @foreach (var ProductViewModel in _ProductViewModels)
                                {
                                    <div class="col">
                                        <ProductCard Product="@ProductViewModel" @bind-ModalProduct="_modalProduct" />
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </article>

    <SubscribeBanner />
</section>

@code {
    private ProductViewModel _modalProduct;

    private List<ProductViewModel> _ProductViewModels;

    protected override async Task OnInitializedAsync()
    {
        var module = await jsRuntime.InvokeAsync<IJSObjectReference>("import", "./src/js/shop-slider.js");
        _modalProduct = new ProductViewModel();

        await GetProductViewModels();
    }

    private async Task GetProductViewModels()
    {
        var response = await apiService.SendToAPIAsync(HttpMethod.Get, apiService.ProductsUrl);
        if (response.IsSuccessStatusCode)
            _ProductViewModels = await response.Content.ReadFromJsonAsync<List<ProductViewModel>>();
        else
        {
            _ProductViewModels = new List<ProductViewModel>();
        }
    }

    private void ApplyFilters()
    {
        return;
    }
}
