@page "/team"

<!-- Banner -->
<div class="team-banner d-flex align-items-center">
    <div class="container">
        <h1>An <span class="text-teal">Awesome Team</span><br>Behind Our Online Store</h1>
    </div>
</div>

<!-- Team -->
<div class="mt-5 mb-5">
    <h1 class="text-teal text-center mb-3">Behind every successful business,<br>there's a strong qualified person</h1>
    <p class="text-center">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the<br>
        industry's standard dummy text ever since the 1500s, when an unknown printer took.
    </p>
</div>

<div class="container d-flex justify-content-between">
    <div class="team-member">
        <img src="/src/img/team/team-member-1.svg" />
        <h2 class="mt-4 mb-2">JOHN DOE</h2>
        <h3 class="mb-3">Managing Director</h3>
        <div class="ms-4 me-4 mb-4">
            <div class="social pt-2 pb-2 d-flex justify-content-center">
                <a class="social-links me-2" href="#"><i class="me-2 fab fa-facebook-f"></i></a>
                <a class="social-links me-2" href="#"><i class="me-2 fab fa-instagram"></i></a>
                <a class="social-links me-2" href="#"><i class="me-2 fab fa-twitter"></i></a>
                <a class="social-links me-2" href="#"><i class="me-2 fab fa-linkedin"></i></a>
                <a class="social-links" href="#"><i class="me-2 fab fa-snapchat-ghost"></i></a>
            </div>
        </div>
    </div>

    <div class="team-member">
        <img src="/src/img/team/team-member-2.svg" />
        <h2 class="mt-4 mb-2">SHAKIL HASAN</h2>
        <h3 class="mb-3">Marketing Manager</h3>
        <div class="ms-4 me-4 mb-4">
            <div class="social pt-2 pb-2 d-flex justify-content-center">
                <a class="social-links me-2" href="#"><i class="me-2 fab fa-facebook-f"></i></a>
                <a class="social-links me-2" href="#"><i class="me-2 fab fa-instagram"></i></a>
                <a class="social-links me-2" href="#"><i class="me-2 fab fa-twitter"></i></a>
                <a class="social-links me-2" href="#"><i class="me-2 fab fa-linkedin"></i></a>
                <a class="social-links" href="#"><i class="me-2 fab fa-snapchat-ghost"></i></a>
            </div>
        </div>
    </div>

    <div class="team-member">
        <img src="/src/img/team/team-member-3.svg" />
        <h2 class="mt-4 mb-2">MICHAEL JORDAN</h2>
        <h3 class="mb-3">General Manager</h3>
        <div class="ms-4 me-4 mb-4">
            <div class="social pt-2 pb-2 d-flex justify-content-center">
                <a class="social-links me-2" href="#"><i class="me-2 fab fa-facebook-f"></i></a>
                <a class="social-links me-2" href="#"><i class="me-2 fab fa-instagram"></i></a>
                <a class="social-links me-2" href="#"><i class="me-2 fab fa-twitter"></i></a>
                <a class="social-links me-2" href="#"><i class="me-2 fab fa-linkedin"></i></a>
                <a class="social-links" href="#"><i class="me-2 fab fa-snapchat-ghost"></i></a>
            </div>
        </div>
    </div>

    <div class="team-member">
        <img src="/src/img/team/team-member-4.svg" />
        <h2 class="mt-4 mb-2">WILLIUM CARRY</h2>
        <h3 class="mb-3">Quality Manager</h3>
        <div class="ms-4 me-4 mb-4">
            <div class="social pt-2 pb-2 d-flex justify-content-center">
                <a class="social-links me-2" href="#"><i class="me-2 fab fa-facebook-f"></i></a>
                <a class="social-links me-2" href="#"><i class="me-2 fab fa-instagram"></i></a>
                <a class="social-links me-2" href="#"><i class="me-2 fab fa-twitter"></i></a>
                <a class="social-links me-2" href="#"><i class="me-2 fab fa-linkedin"></i></a>
                <a class="social-links" href="#"><i class="me-2 fab fa-snapchat-ghost"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-between mt-5">
    <div class="team-member">
        <img src="/src/img/team/team-member-5.svg" />
        <h2 class="mt-4 mb-2">ALAUDDIN SHEIKH</h2>
        <h3 class="mb-3">Printing Manager</h3>
        <div class="ms-4 me-4 mb-4">
            <div class="social pt-2 pb-2 d-flex justify-content-center">
                <a class="social-links me-2" href="#"><i class="me-2 fab fa-facebook-f"></i></a>
                <a class="social-links me-2" href="#"><i class="me-2 fab fa-instagram"></i></a>
                <a class="social-links me-2" href="#"><i class="me-2 fab fa-twitter"></i></a>
                <a class="social-links me-2" href="#"><i class="me-2 fab fa-linkedin"></i></a>
                <a class="social-links" href="#"><i class="me-2 fab fa-snapchat-ghost"></i></a>
            </div>
        </div>
    </div>

    <div class="team-member">
        <img src="/src/img/team/team-member-6.svg" />
        <h2 class="mt-4 mb-2">SHAWPAN MIAH</h2>
        <h3 class="mb-3">Social Manager</h3>
        <div class="ms-4 me-4 mb-4">
            <div class="social pt-2 pb-2 d-flex justify-content-center">
                <a class="social-links me-2" href="#"><i class="me-2 fab fa-facebook-f"></i></a>
                <a class="social-links me-2" href="#"><i class="me-2 fab fa-instagram"></i></a>
                <a class="social-links me-2" href="#"><i class="me-2 fab fa-twitter"></i></a>
                <a class="social-links me-2" href="#"><i class="me-2 fab fa-linkedin"></i></a>
                <a class="social-links" href="#"><i class="me-2 fab fa-snapchat-ghost"></i></a>
            </div>
        </div>
    </div>

    <div class="team-member">
        <img src="/src/img/team/team-member-7.svg" />
        <h2 class="mt-4 mb-2">RANI SAMINA</h2>
        <h3 class="mb-3">Graphic Designer</h3>
        <div class="ms-4 me-4 mb-4">
            <div class="social pt-2 pb-2 d-flex justify-content-center">
                <a class="social-links me-2" href="#"><i class="me-2 fab fa-facebook-f"></i></a>
                <a class="social-links me-2" href="#"><i class="me-2 fab fa-instagram"></i></a>
                <a class="social-links me-2" href="#"><i class="me-2 fab fa-twitter"></i></a>
                <a class="social-links me-2" href="#"><i class="me-2 fab fa-linkedin"></i></a>
                <a class="social-links" href="#"><i class="me-2 fab fa-snapchat-ghost"></i></a>
            </div>
        </div>
    </div>

    <div class="team-member">
        <img src="/src/img/team/team-member-8.svg" />
        <h2 class="mt-4 mb-2">ABUL HOSSEN</h2>
        <h3 class="mb-3">Computer Operator</h3>
        <div class="ms-4 me-4 mb-4">
            <div class="social pt-2 pb-2 d-flex justify-content-center">
                <a class="social-links me-2" href="#"><i class="me-2 fab fa-facebook-f"></i></a>
                <a class="social-links me-2" href="#"><i class="me-2 fab fa-instagram"></i></a>
                <a class="social-links me-2" href="#"><i class="me-2 fab fa-twitter"></i></a>
                <a class="social-links me-2" href="#"><i class="me-2 fab fa-linkedin"></i></a>
                <a class="social-links" href="#"><i class="me-2 fab fa-snapchat-ghost"></i></a>
            </div>
        </div>
    </div>
</div>

<!-- Special Moments -->
<div class="special-moments">
    <h1 class="text-center pt-5">Some <span class="text-teal">special moments</span><br>from our company</h1>
    <p class="text-center pt-3 pb-3">
        It has survived not only five centuries, but also the leap into electronic<br>
        typesetting, remaining essentially unchanged.
    </p>
    <div class="d-flex justify-content-between">
        <img src="http://via.placeholder.com/600x600">
        <img src="http://via.placeholder.com/600x600">
        <img src="http://via.placeholder.com/600x600">
    </div>
</div>

<SubscribeBanner />