/* CIRCLE */

.small-circle {
	position: absolute;
	top: 25px;
	left: 25px;
	width: 60px;
	height: 60px;
	border-radius: 30px;
}

/* Carousel */
#carouselExampleIndicators {
	height: 400px;
	margin-bottom: 100px;
}

.carousel-control-next {
	margin-right: -4vw;
	margin-top: 15%;
	width: 64px;
	content: url(/img/btn_n.svg);
}

.carousel-control-next:hover {
	content: url(/img/btn_b_n.svg);
}

.carousel-control-prev {
	margin-left: -4vw;
	margin-top: 15%;
	width: 64px;
	content: url(/img/btn_p.svg);
}

.carousel-control-prev:hover {
	content: url(/img/btn_b_p.svg);
}

.carousel {
	margin-bottom: 100px;
}

.carousel-indicators {
	position: relative;
	top: 20px;
	width: 10px;
	margin: 0 auto;
}

.dot {
	width: 12px;
	height: 12px;
}

/* Buttons */
.button-rounded-long,
.button-rounded-normal {
	border: none;
	width: 170px;
	height: 55px;
	border-radius: 27px;
	color: var(--teal);
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 18px;
}

.button-rounded-normal {
	width: 155px;
}
