@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

:root {
    --bg-dark-blue: #0e153d;
    --bg-darkest-blue: #080c24;
    --bg-red: #fe4545;
    --bg-green: #64cb83;
    --text-teal: #20d3c2;
    --dark-gray: #aaaaaa;
    --light-gray: #cccccc;
    --bg-middle-gray: #e3e3e3;
    --bg-lighter-gray: #eeeeee;
    --font-play: "Play", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    font-family: "Roboto", sans-serif;
}

/* ALLMÄNT */
/* Ändra inte .container här - gör det antingen med isolation (Shop.razor.css) eller med eget id/egen klass  */
/*.container {width: 60vw}*/

a {
    text-decoration: none
}

.hidden {
    display: none
}

.small-circle {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.fashion-border {
    width: 70px;
    text-align: center;
    border: 1px solid white;
}

/* Fonts */
.font-play {
    font-family: var(--font-play);
}

.font-roboto {
    font-family: var(--font-roboto);
}

/* 
    Vad fyller dessa för funktion? 
    Nedanstående klasser fr. Bootstrap gör redan samma sak:
        .fs-1/.fs-2/.fs-3 
        .text-white
        .fw-bolder/fw-bold/fw-normal/fw-light/fw-lighter
        (.font-play)
*/

.b-w-play-60 {
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: white;
}

.b-w-play-36 {
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: white;
}

.m-w-roboto-24 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: white;
}

.m-w-roboto-18 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: white;
}

.w-roboto-14 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: white;
}

.m-roboto {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.roboto {
    font-family: "Roboto", sans-serif
}

/* Colors */
.teal {
    color: var(--text-teal)
}

.dark-blue {
    color: var(--bg-dark-blue)
}

.dark-gray {
    color: var(--dark-gray)
}

.dark-blue-bg {
    background-color: var(--bg-dark-blue)
}

.red-bg {
    background-color: var(--bg-red)
}

.green-bg {
    background-color: var(--bg-green)
}

.teal-bg {
    background-color: var(--text-teal)
}

.lightgray-bg {
    background-color: var(--light-gray)
}

.lighter-gray-bg {
    background-color: var(--bg-lighter-gray)
}

/* Buttons */
.button-rounded-long, .button-rounded-normal {
    border: none;
    width: 170px;
    height: 55px;
    border-radius: 27px;
    color: var(--text-teal);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.button-rounded-normal {
    width: 155px
}

/* Carousel */
#carouselExampleIndicators {
    height: 400px;
    margin-bottom: 100px;
}

.carousel-control-next {
    margin-right: -4vw;
    margin-top: 15%;
    width: 64px;
    content: url(/img/btn_n.svg);
}

    .carousel-control-next:hover {
        content: url(/img/btn_b_n.svg)
    }

.carousel-control-prev {
    margin-left: -4vw;
    margin-top: 15%;
    width: 64px;
    content: url(/img/btn_p.svg);
}

    .carousel-control-prev:hover {
        content: url(/img/btn_b_p.svg)
    }

.carousel {
    margin-bottom: 100px
}

.carousel-indicators {
    position: relative;
    top: 20px;
    width: 10px;
    margin: 0 auto;
}

.dot {
    width: 12px;
    height: 12px;
}

/* Breadcrumb */

.breadcrumb-section {
	background-color: rgba(14, 21, 61, 0.65);
	font-size: 24px;
	font-weight: 700;
}

	.breadcrumb-section a {
		color: white;
		text-decoration: none;
	}

	.breadcrumb-section .active {
		color: #20D3C2;
	}

.breadcrumb-divider .breadcrumb-item + .breadcrumb-item::before {
	color: #20D3C2;
}

/* Category */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas: "div1 div2 div2 div3 div3" "div4 div4 div5 div3 div3" "div4 div4 div6 div6 div7";
}

.div1, .div2, .div3, .div4, .div5, .div6, .div7 {
    height: 214px;
    border-radius: 6px;
    background-color: var(--light-gray);
}

.div3, .div4 {
    height: 438px
}

.div1 {
    grid-area: div1
}

.div2 {
    grid-area: div2
}

.div3 {
    grid-area: div3
}

.div4 {
    grid-area: div4
}

.div5 {
    grid-area: div5
}

.div6 {
    grid-area: div6
}

.div7 {
    grid-area: div7
}

.inner-div {
    height: 40px;
    width: 50%;
    background-color: var(--bg-dark-blue);
    border-radius: 0px 6px 0px 6px;
}

.grid-container p {
    padding-left: 15px;
    font-family: "Roboto", sans-serif;
}
/* MJÄÄÄÄÄ */
.f-16 {
    font-size: 16px
}


