$teal: #20d3c2;
$bg-dark-blue: #0e153d;
$bg-darkest-blue: #080c24;
$bg-indigo: #292f51;
$bg-blue-gray: #50546e;
$light-gray: #cccccc;
$light-green: #64cb83;
$teal: #20d3c2;
$off-white: #f6f6f6;

$facebook: #3b5999;
$twitter: #55acee;
$instagram: #0077b5;
$pinterest: #bd081c;
$youtube: #bd081c;

.teal {
	color: $teal !important;
}

.bg-teal {
	background: $teal !important;
}

.bg-dark-blue {
	background: $bg-dark-blue;
	border: 2px solid transparent;
}

.font-play {
	font-family: "Play", sans-serif;
}

.top-banner {
	padding-top: 5rem;
	padding-bottom: 5rem;
	background: $bg-blue-gray;
}

.team-presentation-container {
	.card {
		max-width: 100%;
		border: 3px solid $teal;
		border-radius: 0.5rem;
		transition: 0.15s ease-in-out;

		&:hover {
			border: 3px solid $bg-dark-blue;
			.card-body {
				background: $bg-dark-blue;

				.socials-pill {
					background: white;
					a {
						color: $bg-dark-blue;
					}
				}
			}
		}

		.card-body {
			background: $teal;
			transition: background 0.15s ease-in-out;

			.socials-pill {
				cursor: default;
				padding-left: 1rem;
				padding-right: 1rem;

				a {
					color: white;
					&:not(:last-child) {
						margin-right: 1rem;
					}

					&:hover {
						color: $teal;
					}
				}
			}
		}
	}
}

.special-moments-container {
	background: $bg-dark-blue;

	.photo-container {
		img {
			width: 100%;
		}
	}
}
