.teal {
  color: #20d3c2 !important;
}

.bg-teal {
  background: #20d3c2 !important;
}

.bg-dark-blue {
  background: #0e153d;
  border: 2px solid transparent;
}

.font-play {
  font-family: "Play", sans-serif;
}

.top-banner {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #50546e;
}

.team-presentation-container .card {
  max-width: 100%;
  border: 3px solid #20d3c2;
  border-radius: 0.5rem;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

.team-presentation-container .card:hover {
  border: 3px solid #0e153d;
}

.team-presentation-container .card:hover .card-body {
  background: #0e153d;
}

.team-presentation-container .card:hover .card-body .socials-pill {
  background: white;
}

.team-presentation-container .card:hover .card-body .socials-pill a {
  color: #0e153d;
}

.team-presentation-container .card .card-body {
  background: #20d3c2;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

.team-presentation-container .card .card-body .socials-pill {
  cursor: default;
  padding-left: 1rem;
  padding-right: 1rem;
}

.team-presentation-container .card .card-body .socials-pill a {
  color: white;
}

.team-presentation-container .card .card-body .socials-pill a:not(:last-child) {
  margin-right: 1rem;
}

.team-presentation-container .card .card-body .socials-pill a:hover {
  color: #20d3c2;
}

.special-moments-container {
  background: #0e153d;
}

.special-moments-container .photo-container img {
  width: 100%;
}
