$teal: #20d3c2;
$bg-dark-blue: #0e153d;
$bg-darkest-blue: #080c24;
$bg-indigo: #292f51;
$light-gray: #cccccc;
$light-green: #64cb83;
$teal: #20d3c2;
$off-white: #f6f6f6;

.p-404 {
	font-family: "Roboto", sans-serif;
	h1 {
		font-family: "Play", sans-serif;
		font-weight: 900;
		font-size: 10rem;
		color: $teal;
		text-shadow: -5px 5px 0px #1bb1a2, -10px 10px 0px #158e82, -15px 15px 0px #106a61;
		transition: text-shadow 1s;

		&:hover {
			text-shadow: 0px 0px 0px #1bb1a200, 0px 0px 0px #158e8200,
				0px 0px 0px #106a6100;
		}
	}

	.btn {
		padding: 0.5rem 1rem;
		font-weight: bold;
		border: 2px solid transparent;
	}

	.btn-home {
		background: $teal;
		&:hover {
			border: 2px solid $teal;
			color: $teal !important;
			background: transparent;
		}
	}

	.btn-contact {
		background: $bg-dark-blue;
		&:hover {
			border: 2px solid $bg-dark-blue;
			color: $bg-dark-blue !important;
			background: transparent;
		}
	}
}
