@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');
:root {
	--bg-dark-blue: #0e153d;
	--bg-darkest-blue: #080c24;
    --bg-red: #FE4545;
    --bg-green: #64CB83;
	--text-teal: #20d3c2;
	--light-gray: #cccccc;
    --bg-middle-gray: #E3E3E3;
    --bg-lighter-gray: #EEEEEE;
	font-family: "Roboto", sans-serif;
    font-family: 'Play', sans-serif;
}
/* ALLMÄNT */

.b-w-play-36{
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: white;
}
.m-w-roboto-18{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: white;
}
.roboto{
    font-family: "Roboto", sans-serif;
}
.teal {
	color: var(--text-teal);
}
.red-bg {
    background-color: var(--bg-red);
}
.green-bg {
    background-color: var(--bg-green);
}
.teal-bg {
    background-color: var(--text-teal);
}
.dark-blue {
	color: var(--bg-dark-blue);
}
.dark-blue-bg {
	background-color: var(--bg-dark-blue);
}
.container{
    width: 1100px;
}
.hidden{
    display: none;
}
.small-circle{
    position: absolute;
    top: 25px;
    left:25px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

    /* carousel */
    #carouselExampleIndicators{
        height: 400px;
        margin-bottom: 100px;
    }
    .prod-card{
        height: 400px;
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;  
    } 
    .start-card{
        background-color: var(--bg-lighter-gray);
    } 
    .textbox-prod p{
        margin-left: 30px;
     }
     .start-card, .hover-card{ 
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 5;  
    }
    .hover-card{ 
        opacity: 0.9;
        width: 350px;
        background-color: var(--bg-dark-blue);
        z-index: 9;    
        display: none;
    }
    .prod-card:hover .hover-card{
        display: block;
    } 
 .prod-card .dark-blue-bg{
    height: 50px;
 }
 .prod-card p, .prod-info-hover{
    font-size: 18px;
 }
.prod-info-hover .teal{
    font-size: 24px;
}
.prod-info-hover .fashion-border{
    font-size: 14px;
}
.fashion-border{
    width: 70px;
    text-align: center;
    border: 1px solid white;
}
.carousel-control-next{
    margin-right: -4vw;
    margin-top: 168px;
    width: 64px;
    content: url(/img/btn_n.svg);
}
.carousel-control-next:hover{
    content: url(/img/btn_b_n.svg);
}
.carousel-control-prev{
    margin-left: -4vw;
    margin-top: 168px;
    width: 64px;
    content: url(/img/btn_p.svg);
}
.carousel-control-prev:hover{
    content: url(/img/btn_b_p.svg);
}
.carousel{
    margin-bottom: 90px;
}
.carousel-indicators{
    position: relative;
    top: 20px;
    width: 10px;
    margin: 0 auto;
}
.dot{
    width: 12px;
    height: 12px;
} 
.fill{
    width: 300px;
    height: 30px;
}
.hide{
    display: block;
}
.prod-card:hover .hide{
    display: none;
}

/*! Product Overlay Pill  */
.product-overlay-pill {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem 0.6rem;
	border-radius: 2rem;
	background: white;
	margin-bottom: 0.5rem;
}
.pop-toggle-btn {
	color: rgba(255, 0, 0, 0.75) !important;
	margin-top: 0.3rem;
	margin-bottom: 0.5rem;
	transition: 0.2s;
	padding-left: 1px;
	padding-right: 1px;
}
.product-overlay-pill i:last-child {
	margin-bottom: 0.4rem;
}
.product-overlay-pill i:not(:last-child) {
	margin-bottom: 0.75rem;
}
.product-overlay-pill i {
	display: block;
	color: gray;
	position: relative;
	cursor: pointer;
}
.product-overlay-pill i:hover {
	color: var(--teal);
}

/*! Pill Modals */
.product-overlay-pill i .pop-modal {
	font-weight: normal !important;
	font-family: "Roboto", sans-serif !important;
	background: var(--teal);
	color: white;
	position: absolute;
	left: -8rem;
	top: -0.5rem;
	border-radius: 0.25rem;
	text-align: center;
	padding: 0.5rem;
	width: 7rem;
	opacity: 0;
	transition: 0.2s;
}
.product-overlay-pill i:hover .pop-modal {
	opacity: 1 !important;
}
.product-overlay-pill .pop-modal::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 100%;
	margin-top: -6px;
	border-width: 6px;
	border-style: solid;
	border-color: transparent transparent transparent var(--teal);
	border-radius: 0;
}
/****! IGNORE !****/
/*! Bottom */
.product-overlay-price-rating .product-overlay-current-price {
	font-size: 1.25rem;
}
.product-overlay-price-rating .product-overlay-rating i {
	font-size: 1rem;
}
.product-overlay-rating{
    margin-left: 120px;
}