@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto&display=swap");
:root {
	--bg-dark-blue: #0e153d;
	--bg-darkest-blue: #080c24;
	--text-teal: #20d3c2;
	--light-gray: #cccccc;
	font-family: "Roboto", sans-serif;
}

.teal {
	color: var(--text-teal);
}

/*! FOOTER */
footer {
	background: var(--bg-dark-blue);
	color: white;
}

.top-footer {
	border-top: 3px solid var(--text-teal);
}

.socials i {
	font-size: 1.4rem;
	color: var(--text-teal);
	cursor: pointer;
}

.socials i:hover {
	color: white;
}

.footer-headers {
	font-size: 1.125rem;
	font-weight: bold;
}

footer .info-text {
	font-size: 0.875rem;
}

footer .useful-link {
	display: block;
	margin-bottom: 0.5rem;
}

footer .footer-links {
	color: white;
	text-decoration: none;
}

footer .footer-links:hover {
	color: var(--text-teal);
	text-decoration: underline;
}

.instagram-photo {
	width: 5rem;
	height: 5rem;
	background: var(--light-gray);
	margin: 5px;
	border-radius: 5px;
}

.instagram-photo:hover {
	background: var(--text-teal);
}

.sub-footer {
	background: var(--bg-darkest-blue);
}

.sub-footer .payment-methods {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.sub-footer .payment-methods img {
	margin: 3px;
}
/*! FOOTER */
