
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

:root {
    --bg-dark-blue: #0e153d;
    --bg-darkest-blue: #080c24;
    --bg-red: #FE4545;
    --bg-green: #64CB83;
    --text-teal: #20d3c2;
    --light-gray: #cccccc;
    --bg-middle-gray: #E3E3E3;
    --bg-lighter-gray: #EEEEEE;
    font-family: "Roboto", sans-serif;
    font-family: 'Play', sans-serif;
}
/* ALLMÄNT */
.b-w-play-60 {
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: white;
}

.b-w-play-36 {
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: white;
}

.m-w-roboto-24 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: white;
}

.roboto {
    font-family: "Roboto", sans-serif;
}

.middle-gray-bg {
    background-color: var(--bg-middle-gray);
}

.teal {
    color: var(--text-teal);
}

.red-bg {
    background-color: var(--bg-red);
}

.green-bg {
    background-color: var(--bg-green);
}

.teal-bg {
    background-color: var(--text-teal);
}

.lightgray-bg {
    background-color: var(--light-gray);
}

.dark-blue {
    color: var(--bg-dark-blue);
}

.dark-blue-bg {
    background-color: var(--bg-dark-blue);
}

.play-txt {
    font-family: 'Play', sans-serif !important;
    font-weight: 400;
}

.txt-big {
    font-size: 60px;
}

.txt-medium {
    font-size: 36px;
}

#btnSubscribe {
    margin-left: -50px;
    border-radius: 2rem;
    background: var(--teal);
    border: 1px solid transparent;
    color: white;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0.25rem 1rem;
    padding-bottom: 0.28rem;
    transition: 0.2s;
}

    #btnSubscribe:hover {
        background: white;
        color: var(--teal);
        border: 1px solid var(--teal) !important;
    }

.button-rounded-long, .button-rounded-normal {
    border: none;
    width: 170px;
    height: 55px;
    border-radius: 27px;
    color: var(--text-teal);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.button-rounded-normal {
    width: 155px;
}

.container {
    width: 1100px;
}

.hidden {
    display: none;
}

.small-circle {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.lighter-gray {
    color: var(--lighter-gray);
}


/* BLOCK1 */
.start-text {
    width: 390px;
}

.img-background {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 57vw;
    height: 550px;
    background-color: var(--bg-lighter-gray);
}

/* BLOCK 2 */
.container-wide {
    margin: 120px auto;
    width: 86vw;
}

h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: var(--text-teal);
    font-size: 1rem;
}

.box {
    width: 400px;
    height: 140px;
    border-radius: 6px;
}

    .box p {
        width: 85%;
        color: black;
    }

.box-text {
    padding: 20px;
}

.box-img {
    margin: 20px;
}

.box:hover {
    background-color: var(--text-teal);
}

#box-img-pack {
    content: url(/img/box.svg);
}

.box:hover #box-img-pack {
    width: 50px;
    content: url(/img/box_v.png);
}

#box-img-clock {
    width: 50px;
    content: url(/img/clock.png);
}

.box:hover #box-img-clock {
    width: 50px;
    content: url(/img/clock.svg);
}

#box-img-pay {
    width: 50px;
    content: url(/img/pay.svg);
}

.box:hover #box-img-pay {
    width: 50px;
    content: url(/img/pay_v.png);
}

#box-img-time {
    width: 50px;
    content: url(/img/time.svg);
}

.box:hover #box-img-time {
    width: 50px;
    content: url(/img/time_v.png);
}

.box:hover p {
    color: white;
}

.box:hover h6 {
    color: white;
}
/* Category */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas: "div1 div2 div2 div3 div3" "div4 div4 div5 div3 div3" "div4 div4 div6 div6 div7";
}

.div1, .div2, .div3, .div4, .div5, .div6, .div7 {
    height: 214px;
    border-radius: 6px;
    background-color: var(--light-gray);
}

.div3, .div4 {
    height: 438px;
}

.div1 {
    grid-area: div1;
}

.div2 {
    grid-area: div2;
}

.div3 {
    grid-area: div3;
}

.div4 {
    grid-area: div4;
}

.div5 {
    grid-area: div5;
}

.div6 {
    grid-area: div6;
}

.div7 {
    grid-area: div7;
}

.inner-div {
    height: 40px;
    width: 50%;
    background-color: var(--bg-dark-blue);
    border-radius: 0px 6px 0px 6px;
}

.grid-container p {
    padding-left: 15px;
    font-family: "Roboto", sans-serif;
}
/* carousel */
#carouselExampleIndicators {
    height: 400px;
    margin-bottom: 100px;
}

.prod-card {
    height: 400px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.start-card {
    background-color: var(--bg-lighter-gray);
}

.textbox-prod p {
    margin-left: 30px;
}

.start-card, .hover-card {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}

.hover-card {
    opacity: 0.9;
    width: 350px;
    background-color: var(--bg-dark-blue);
    z-index: 9;
    display: none;
}

.prod-card:hover .hover-card {
    display: block;
}

.prod-card .dark-blue-bg {
    height: 50px;
}

.prod-card p, .prod-info-hover {
    font-size: 18px;
}

    .prod-info-hover .teal {
        font-size: 24px;
    }

    .prod-info-hover .fashion-border {
        font-size: 14px;
    }

.fashion-border {
    width: 70px;
    text-align: center;
    border: 1px solid white;
}

.carousel-control-next {
    margin-right: -4vw;
    margin-top: 168px;
    width: 64px;
    content: url(/img/arrow_n.svg);
}

    .carousel-control-next:hover {
        content: url(/img/arrow_n_b.svg);
    }

.carousel-control-prev {
    margin-left: -4vw;
    margin-top: 168px;
    width: 64px;
    content: url(/img/arrow_p.svg);
}

    .carousel-control-prev:hover {
        content: url(/img/arrow_p_b.svg);
    }

.carousel {
    margin-bottom: 90px;
}

.carousel-indicators {
    position: relative;
    top: 20px;
    width: 10px;
    margin: 0 auto;
}

.dot {
    width: 12px;
    height: 12px;
}

.fill {
    width: 300px;
    height: 200px;
}

.hide {
    display: block;
}

.prod-card:hover .hide {
    display: none;
}
/* BLOCK 5 */
.banner {
    height: 420px;
    background-color: var(--light-gray);
}

.text-box {
    width: 445px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: white;
}

.banner .teal-bg .button-rounded-normal {
    background-color: var(--bg-dark-blue);
    color: white;
}
/* BLOCK 6 */
.banner2 {
    height: 435px;
    background-color: var(--bg-dark-blue);
}

.circle {
    content: url(/img/round.svg);
    width: 110px;
    height: 110px;
}

.circle-container {
    width: 110px;
    height: 110px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: red;
}

    .circle-container .circle {
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .circle-container p {
        position: absolute;
        top: 20px;
        left: 47px;
        z-index: 2;
    }

    .circle-container .roboto {
        top: 62px;
        left: 39px;
    }


/* BLOCK 11 */
.subscribe-conversion-banner {
    background: var(--off-white);
}

    .subscribe-conversion-banner .subscribe-banner-container img {
        max-width: 100%;
    }

.subscribe-form {
    display: flex;
    background: white;
    border: 1px solid lightgray;
    border-radius: 2rem;
    padding: 0 4px;
}

#inputEmailSubscribe {
    flex: 1;
    border: none;
    border-radius: 5rem;
    padding-left: 1rem;
    padding-bottom: 0.15rem;
}

#btnSubscribe {
    margin-left: -50px;
    border-radius: 2rem;
    background: var(--teal);
    border: 1px solid transparent;
    color: white;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0.25rem 1rem;
    padding-bottom: 0.28rem;
    transition: 0.2s;
}

    #btnSubscribe:hover {
        background: white;
        color: var(--teal);
        border: 1px solid var(--teal) !important;
    }

input:focus {
    outline: none;
}

.brand-bottom-banner img {
    width: 75%;
}
