/* Endast hjälp vid design, ta bort i "produktion" */
.col {
	max-width: 300px;
	font-size: 16px;
}

.product-overlay {
	border-radius: 0.5rem;
}

/*! Product Overlay Pill  */
.product-overlay-pill-container {
	grid-column: 2;
	max-width: 100%;
}

.product-overlay-pill {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 0.5rem 0.6rem;
	border-radius: 2rem;
	background: white;
	margin-bottom: 0.5rem;
}

.pop-toggle-btn {
	color: rgba(255, 0, 0, 0.75) !important;
	margin-top: 0.3rem;
	margin-bottom: 0.5rem;
	transition: 0.2s;
	padding-left: 1px;
	padding-right: 1px;
}

.product-overlay-pill i:last-child {
	margin-bottom: 0.4rem;
}

.product-overlay-pill i:not(:last-child) {
	margin-bottom: 0.75rem;
}

.product-overlay-pill i {
	display: block;
	color: gray;
	position: relative;
	cursor: pointer;
}

.product-overlay-pill i:hover {
	color: var(--teal);
}

/*! Pill Modals */
.product-overlay-pill i .pop-modal {
	font-weight: normal !important;
	font-family: "Roboto", sans-serif !important;
	background: var(--teal);
	color: white;
	position: absolute;
	left: -8rem;
	top: -0.5rem;
	border-radius: 0.25rem;
	text-align: center;
	padding: 0.5rem;
	width: 7rem;

	opacity: 0;
	transition: 0.2s;
}

.product-overlay-pill i:hover .pop-modal {
	opacity: 1 !important;
}

.product-overlay-pill .pop-modal::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 100%;
	margin-top: -6px;
	border-width: 6px;
	border-style: solid;
	border-color: transparent transparent transparent var(--teal);
	border-radius: 0;
}

/****! IGNORE !****/
/****! IGNORE !****/
/****! IGNORE !****/
/****! IGNORE !****/
/****! IGNORE !****/
/****! IGNORE !****/
/****! IGNORE !****/
/****! IGNORE !****/
/****! IGNORE !****/
/****! IGNORE !****/
/****! IGNORE !****/
/****! IGNORE !****/
/****! IGNORE !****/
.product {
	border-radius: 0.25rem;
	position: relative;
	width: 100%;
}

.product .product-img {
	opacity: 1;
	display: block;
	width: 100%;
	border-radius: 1rem;
	backface-visibility: hidden;
	transition: 0.5s;
}

.product-overlay {
	background: var(--bg-dark-blue);
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0.75rem;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

	transition: 0.5s;
	opacity: 0;
}

.product .product-img {
	opacity: 0.3;
}

.product .product-overlay {
	opacity: 0.85;
}

.product-overlay .row {
	margin-left: 0;
	margin-right: 0;
}

/*! Bottom */
.product-overlay-title {
	grid-row: 2;
	grid-column: 1 / 3;
}

.product-overlay-category {
	grid-row: 3;
}

.product-overlay-category span {
	border: 1px solid white;
	padding: 0.1rem 0.5rem;
}

.product-overlay-old-price {
	grid-row: 4;
	text-decoration: line-through;
}

.product-overlay-price-rating {
	grid-row: 5;
	grid-column: 1 / 3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--teal);
}

.product-overlay-price-rating .product-overlay-current-price {
	font-size: 1.25rem;
}
.product-overlay-price-rating .product-overlay-rating i {
	font-size: 1rem;
}
