@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.temp-quantity-button {
  max-width: 20%;
  opacity: 0.35;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.temp-quantity-button:hover {
  opacity: 0.5;
}

.review-stars {
  color: #20d3c2;
}

.teal {
  color: #20d3c2 !important;
}

.modal-dialog {
  max-width: 50vw;
}

.close-modal-button {
  width: 2rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  background: #20d3c2;
  color: white;
  cursor: pointer !important;
  border: 2px solid transparent;
  position: absolute;
  right: -2.25rem;
  top: -2.25rem;
  z-index: 99;
}

.close-modal-button:hover {
  background: transparent;
  color: #20d3c2;
  border: 2px solid #20d3c2;
}

.modal-dialog {
  margin-top: 5rem;
}

.quick-view-container {
  border-radius: 0.5rem;
  background: white;
}

.quick-view-container .main-row {
  padding: 1rem;
}

.quick-view-container .main-row .image-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quick-view-container .main-row .image-column img {
  max-width: 100%;
  border-radius: 0.5rem;
  cursor: pointer;
}

.quick-view-container .main-row .image-column .product-image-selection {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
}

.quick-view-container .main-row .image-column .product-image-selection img {
  max-width: 25%;
  opacity: 0.75;
}

.quick-view-container .main-row .image-column .product-image-selection img:hover {
  opacity: 1;
}

.quick-view-container .main-row .info-column .review-brand-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.quick-view-container .main-row .info-column .review-brand-row img {
  width: 50%;
  float: right;
  margin-right: 3rem;
}

.quick-view-container .main-row .info-column .product-title {
  font-weight: 600;
}

.quick-view-container .main-row .info-column .price-status-row {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quick-view-container .main-row .info-column .price-status-row .current-price {
  color: #20d3c2;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.quick-view-container .main-row .info-column .price-status-row .old-price {
  color: #cccccc;
  text-decoration: line-through;
}

.quick-view-container .main-row .info-column .price-status-row .stock-status .in-stock {
  color: #64cb83;
}

.quick-view-container .main-row .info-column .buy-actions-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quick-view-container .main-row .info-column .buy-actions-row .quantity-selector {
  border: 1px solid gray;
  border-radius: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quick-view-container .main-row .info-column .buy-actions-row .quantity-selector .quantity-current {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  padding: 0.4rem;
}

.quick-view-container .main-row .info-column .buy-actions-row .add-to-cart {
  background: #20d3c2;
  border-radius: 5rem;
  padding-top: 0.25rem;
  padding-left: 0;
  padding-bottom: 0.25rem;
  padding-right: 0;
  text-align: center;
  color: white;
  cursor: pointer;
  border: 2px solid transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.quick-view-container .main-row .info-column .buy-actions-row .add-to-cart:hover {
  background: transparent;
  color: #20d3c2;
  border: 2px solid #20d3c2;
}

.quick-view-container .main-row .info-column .buy-actions-row .color-selection-btn img {
  width: 34px;
  height: 34px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.quick-view-container .main-row .info-column .buy-actions-row .color-selection-btn img:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.quick-view-container .main-row .info-column .buy-actions-row .color-selection-btn,
.quick-view-container .main-row .info-column .buy-actions-row .compare-item,
.quick-view-container .main-row .info-column .buy-actions-row .save-item {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.quick-view-container .main-row .info-column .buy-actions-row .color-selection-btn span,
.quick-view-container .main-row .info-column .buy-actions-row .compare-item span,
.quick-view-container .main-row .info-column .buy-actions-row .save-item span {
  display: inline-block;
  border: 1px solid #bbbbbb;
  border-radius: 100%;
}

.quick-view-container .main-row .info-column .buy-actions-row .color-selection-btn i,
.quick-view-container .main-row .info-column .buy-actions-row .compare-item i,
.quick-view-container .main-row .info-column .buy-actions-row .save-item i {
  color: #bbbbbb;
  padding: 0.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.quick-view-container .main-row .info-column .buy-actions-row .color-selection-btn i.fa-random:hover,
.quick-view-container .main-row .info-column .buy-actions-row .compare-item i.fa-random:hover,
.quick-view-container .main-row .info-column .buy-actions-row .save-item i.fa-random:hover {
  color: #20d3c2;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.quick-view-container .main-row .info-column .buy-actions-row .color-selection-btn i.fa-heart:hover,
.quick-view-container .main-row .info-column .buy-actions-row .compare-item i.fa-heart:hover,
.quick-view-container .main-row .info-column .buy-actions-row .save-item i.fa-heart:hover {
  color: #20d3c2;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.quick-view-container .main-row .info-column .category-row .product-category {
  color: #20d3c2;
  text-decoration: none;
}

.quick-view-container .main-row .info-column .category-row .product-category:hover {
  text-decoration: underline;
}

.quick-view-container .main-row .info-column .tags-row .tags-title {
  margin-right: 2rem;
}

.quick-view-container .main-row .info-column .tags-row .tag-box {
  display: inline-block;
  padding: 0 0.5rem;
  border: 2px solid lightgray;
  margin-bottom: 0.25rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.quick-view-container .main-row .info-column .tags-row .tag-box:hover {
  border-color: #20d3c2;
}

.quick-view-container .main-row .info-column .share-row {
  position: absolute;
  bottom: 1.25rem;
}

.quick-view-container .main-row .info-column .share-row .circle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  margin-left: 0.5rem;
  padding: 0.5rem;
  border-radius: 100%;
  color: white;
  border: 2px solid transparent;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.quick-view-container .main-row .info-column .share-row .circle i {
  width: 1rem;
  height: 1rem;
}

.quick-view-container .main-row .info-column .share-row .circle.circle-facebook {
  background: #3b5999;
}

.quick-view-container .main-row .info-column .share-row .circle.circle-facebook:hover {
  background: transparent;
  color: #3b5999;
  border: 2px solid #3b5999;
}

.quick-view-container .main-row .info-column .share-row .circle.circle-twitter {
  background: #55acee;
}

.quick-view-container .main-row .info-column .share-row .circle.circle-twitter:hover {
  background: transparent;
  color: #55acee;
  border: 2px solid #55acee;
}

.quick-view-container .main-row .info-column .share-row .circle.circle-pinterest {
  background: #bd081c;
}

.quick-view-container .main-row .info-column .share-row .circle.circle-pinterest:hover {
  background: transparent;
  color: #bd081c;
  border: 2px solid #bd081c;
}

.quick-view-container .main-row .info-column .share-row .circle.circle-linkedin {
  background: #0077b5;
}

.quick-view-container .main-row .info-column .share-row .circle.circle-linkedin:hover {
  background: transparent;
  color: #0077b5;
  border: 2px solid #0077b5;
}

.quick-view-container .main-row .info-column .share-row .circle.circle-email {
  background: #20d3c2;
}

.quick-view-container .main-row .info-column .share-row .circle.circle-email:hover {
  background: transparent;
  color: #20d3c2;
  border: 2px solid #20d3c2;
}
