@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');
:root {
	--bg-dark-blue: #0e153d;
	--bg-darkest-blue: #080c24;
    --bg-red: #FE4545;
    --bg-green: #64CB83;
	--text-teal: #20d3c2;
	--light-gray: #cccccc;
    --bg-middle-gray: #E3E3E3;
    --bg-lighter-gray: #EEEEEE;
	font-family: "Roboto", sans-serif;
    font-family: 'Play', sans-serif;
}
/* ALLMÄNT */
.w-roboto-14{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: white;
}
.m-w-roboto-18{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: white;
}
.roboto{
    font-family: "Roboto", sans-serif;
}
.teal {
	color: var(--text-teal);
}
.dark-blue-bg {
	background-color: var(--bg-dark-blue);
}
.container{
    width: 1100px;
}
.carousel-control-next{
    margin-right: -4vw;
    margin-top: 34%;
    width: 64px;
    content: url(/img/btn_n.svg);
}
.carousel-control-next:hover{
    content: url(/img/btn_b_n.svg);
}
.carousel-control-prev{
    margin-left: -4vw;
    margin-top: 34%;
    width: 64px;
    content: url(/img/btn_p.svg);
}
.carousel-control-prev:hover{
    content: url(/img/btn_b_p.svg);
}
.carousel{
    margin-bottom: 100px;
}
.carousel-indicators{
    position: relative;
    top: 20px;
    width: 10px;
    margin: 0 auto;
}
.dot{
    width: 12px;
    height: 12px;
} 

/* rating */
#quote-text{
    width: 730px;
    text-align: center;
}
