@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

:root {
	--bg-dark-blue: #0e153d;
	--bg-darkest-blue: #080c24;
	--bg-indigo: #292f51;
	--light-gray: #cccccc;
	--light-green: #64cb83;
	--teal: #20d3c2;
	--off-white: #f6f6f6;
	font-family: "Roboto", sans-serif;
}
