@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');
:root {
	--bg-dark-blue: #0e153d;
	--bg-darkest-blue: #080c24;
    --bg-red: #FE4545;
    --bg-green: #64CB83;
	--text-teal: #20d3c2;
	--light-gray: #cccccc;
    --bg-middle-gray: #E3E3E3;
    --bg-lighter-gray: #EEEEEE;
	font-family: "Roboto", sans-serif;
    font-family: 'Play', sans-serif;
}
/* ALLMÄNT */
.b-w-play-60{
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: white;
}
.b-w-play-36{
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: white;
}
.m-w-roboto-24{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: white;
}
.m-w-roboto-18{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: white;
}
.roboto{
    font-family: "Roboto", sans-serif;
}
.m-roboto{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
.middle-gray-bg{
    background-color: var(--bg-middle-gray);
}
.teal {
	color: var(--text-teal);
}
.red-bg {
    background-color: var(--bg-red);
}
.green-bg {
    background-color: var(--bg-green);
}
.teal-bg {
    background-color: var(--text-teal);
}
.lightgray-bg {
    background-color: var(--light-gray);
}
.dark-blue {
	color: var(--bg-dark-blue);
}
.dark-blue-bg {
	background-color: var(--bg-dark-blue);
}
.play-txt{
    font-family: 'Play', sans-serif !important;
    font-weight: 400;
}
.txt-big{
    font-size: 60px; 
}
.txt-medium{
    font-size: 36px; 
}
#btnSubscribe {
	margin-left: -50px;
	border-radius: 2rem;
	background: var(--teal);
	border: 1px solid transparent;
	color: white;
	margin-top: 4px;
	margin-bottom: 4px;
	padding: 0.25rem 1rem;
	padding-bottom: 0.28rem;
	transition: 0.2s;
}
#btnSubscribe:hover {
	background: white;
	color: var(--teal);
	border: 1px solid var(--teal) !important;
}
.button-rounded-long, .button-rounded-normal{
    border: none;
    width: 170px;
    height: 55px;
    border-radius: 27px;
    color: var(--text-teal);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
}
.button-rounded-normal{
    width: 155px;
}
.container{
    width: 1100px;
}
.hidden{
    display: none;
}
.small-circle{
    position: absolute;
    top: 25px;
    left:25px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.lighter-gray {
	color: var(--lighter-gray);
}
.fashion-border{
    width: 70px;
    text-align: center;
    border: 1px solid white;
}
/* top sellers */
.grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 60px 35px;
    grid-template-areas:
      "full-div half-div"
      "full-div half-div2";
  }
  .full-div { 
      grid-area: full-div; 
      height: 650px;
    }
  .half-div { grid-area: half-div; }
  .half-div2 { grid-area: half-div2; }
.logo{
    position: absolute;
    width: 175px;
    height: 75px;
    top: 25px;
    left:25px;
}
.prod-card2{
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    
}
.start-card2, .start-card3, .start-card4{
    background-color: var(--bg-lighter-gray);
} 
 .start-card2, .hover-card2, .start-card3, .hover-card3, .start-card4, .hover-card4{ 
    position: absolute;
    height: 705px;
    width: 550px;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 5;  
}
.start-card3, .hover-card3{ 
    height: 345px;  
}
.start-card4, .hover-card4{ 
    height: 350px;  
}
.hover-card2, .hover-card3, .hover-card4{ 
    opacity: 0.9;
    width: 550px;
    background-color: var(--bg-dark-blue);
    z-index: 9;    
    display: none;
}

.prod-card2:hover .hover-card2{
    display: block;
} 
.prod-card2:hover .hover-card3{
    display: block;
} 
.prod-card2:hover .hover-card4{
    display: block;
} 
.fill2{
    width:550px;
    height: 350px;
}
.prod-card2:hover .hide{
    display: none;
}
#quote-text{
    width: 730px;
    text-align: center;
}

/*! Product Overlay Pill  */
.product-overlay-pill {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem 0.6rem;
	border-radius: 2rem;
	background: white;
	margin-bottom: 0.5rem;
}
.pop-toggle-btn {
	color: rgba(255, 0, 0, 0.75) !important;
	margin-top: 0.3rem;
	margin-bottom: 0.5rem;
	transition: 0.2s;
	padding-left: 1px;
	padding-right: 1px;
}
.product-overlay-pill i:last-child {
	margin-bottom: 0.4rem;
}
.product-overlay-pill i:not(:last-child) {
	margin-bottom: 0.75rem;
}
.product-overlay-pill i {
	display: block;
	color: gray;
	position: relative;
	cursor: pointer;
}
.product-overlay-pill i:hover {
	color: var(--teal);
}

/*! Pill Modals */
.product-overlay-pill i .pop-modal {
	font-weight: normal !important;
	font-family: "Roboto", sans-serif !important;
	background: var(--teal);
	color: white;
	position: absolute;
	left: -8rem;
	top: -0.5rem;
	border-radius: 0.25rem;
	text-align: center;
	padding: 0.5rem;
	width: 7rem;
	opacity: 0;
	transition: 0.2s;
}
.product-overlay-pill i:hover .pop-modal {
	opacity: 1 !important;
}
.product-overlay-pill .pop-modal::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 100%;
	margin-top: -6px;
	border-width: 6px;
	border-style: solid;
	border-color: transparent transparent transparent var(--teal);
	border-radius: 0;
}
/****! IGNORE !****/
/*! Bottom */
.product-overlay-price-rating .product-overlay-current-price {
	font-size: 1.25rem;
}
.product-overlay-price-rating .product-overlay-rating i {
	font-size: 1rem;
}
.product-overlay-rating{
    margin-left: 310px;
}