/* blog posts */
.background-div {
    position: relative;
    top: 0;
    left: 0;
    width: 350px;
    height: 400px;
}

.background2-div {
    position: relative;
    top: -375px;
    left: 265px;
    width: 275px;
    height: 305px;
}

#carouselExampleIndicators_blog {
    height: 400px;
}

.background2-div button {
    width: 120px;
    height: 40px;
    font-size: 16px;
}

.mini-box {
    width: 60px;
}
