@import url("https://fonts.googleapis.com/css2?family=Play:wght@700&family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap");
:root {
	--bg-dark-blue: #0e153d;
	--bg-darkest-blue: #080c24;
	--bg-red: #fe4545;
	--bg-green: #64cb83;
	--text-teal: #20d3c2;
	--light-gray: #cccccc;
	--bg-middle-gray: #e3e3e3;
	--bg-lighter-gray: #eeeeee;
	font-family: "Roboto", sans-serif;
	font-family: "Play", sans-serif;
}
/* ALLMÄNT */
.b-w-play-36 {
	font-family: "Play", sans-serif;
	font-weight: 700;
	font-size: 36px;
	color: white;
}
.w-roboto-14 {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	color: white;
}
.roboto {
	font-family: "Roboto", sans-serif;
}
.teal {
	color: var(--text-teal);
}
.teal-bg {
	background-color: var(--text-teal);
}
.lightgray-bg {
	background-color: var(--light-gray);
}
.dark-blue {
	color: var(--bg-dark-blue);
}
.dark-blue-bg {
	background-color: var(--bg-dark-blue);
}
.button-rounded-long,
.button-rounded-normal {
	border: none;
	width: 170px;
	height: 55px;
	border-radius: 27px;
	color: var(--text-teal);
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 18px;
}
.button-rounded-normal {
	width: 155px;
}
.container {
	width: 1100px;
}
.fashion-border {
	width: 70px;
	text-align: center;
	border: 1px solid white;
}
.carousel-control-next {
	margin-right: -4vw;
	margin-top: 168px;
	width: 64px;
	content: url(/src/img/home/btn_n.svg);
}
.carousel-control-next:hover {
	content: url(/src/img/home/btn_b_n.svg);
}
.carousel-control-prev {
	margin-left: -4vw;
	margin-top: 168px;
	width: 64px;
	content: url(/src/img/home/btn_p.svg);
}
.carousel-control-prev:hover {
	content: url(/src/img/home/btn_b_p.svg);
}
.carousel {
	margin-bottom: 90px;
}
.carousel-indicators {
	position: relative;
	top: 20px;
	width: 10px;
	margin: 0 auto;
}
.dot {
	width: 12px;
	height: 12px;
}

/* blog posts */
.background-div {
	position: relative;
	top: 0;
	left: 0;
	width: 350px;
	height: 400px;
}
.background2-div {
	position: relative;
	top: -375px;
	left: 265px;
	width: 275px;
	height: 305px;
}
#carouselExampleIndicators_blog {
	height: 400px;
}
.background2-div button {
	width: 120px;
	height: 40px;
	font-size: 16px;
}
.mini-box {
	width: 60px;
}
