/* sale banner */
.banner {
    height: 420px;
    background-color: var(--light-gray);
}

.text-box {
    width: 445px
}

.banner .teal-bg .button-rounded-normal {
    background-color: var(--bg-dark-blue);
    color: white;
}
