@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');
:root {
	--bg-dark-blue: #0e153d;
	--bg-darkest-blue: #080c24;
    --bg-red: #FE4545;
    --bg-green: #64CB83;
	--text-teal: #20d3c2;
	--light-gray: #cccccc;
    --bg-middle-gray: #E3E3E3;
    --bg-lighter-gray: #EEEEEE;
	font-family: "Roboto", sans-serif;
    font-family: 'Play', sans-serif;
}
/* ALLMÄNT */
.b-w-play-60{
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: white;
}
.b-w-play-36{
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: white;
}
.w-roboto-14{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: white;
}
.teal-bg {
    background-color: var(--text-teal);
}
.button-rounded-long, .button-rounded-normal{
    border: none;
    width: 170px;
    height: 55px;
    border-radius: 27px;
    color: var(--text-teal);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
}
.button-rounded-normal{
    width: 155px;
}
.container{
    width: 1100px;
}
/* sale banner */
.banner{
    height: 420px;
    background-color: var(--light-gray);
}
.text-box{width: 445px} 
.banner .teal-bg .button-rounded-normal{
    background-color: var(--bg-dark-blue);
    color: white;
}