/* top sellers */
.grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px 15px;
    grid-template-areas: "full-div half-div" "full-div half-div2";
}
.full-div {
    grid-area: full-div;
    height: 650px;
}
.half-div {grid-area: half-div}
.half-div2 { grid-area: half-div2}
.logo {
    position: absolute;
    width: 175px;
    height: 75px;
    top: 25px;
    left: 25px;
}
#quote-text {
    width: 730px;
    text-align: center;
}
