<div class="container">
    <div class="row row-cols-2">
        <div class="col">
            <BlogCard DatePosted="2021-03-29" 
                      Author="Adam Moore" 
                      Title="A beautiful scenery in the world we are missing" 
                      Tag1="Travel" Tag2="Fashion"/>
        </div>

        <div class="col">
            <BlogCard DatePosted="2021-07-18"
                      Author="Jonathon Doe"
                      Title="We love our world"
                      Tag1="Travel" Tag2="Fashion" />
        </div>
    </div>
</div>

@code {

}
