<div class="category-block row-span-@RowSpan col-span-@ColumnSpan" 
     @onclick="() => GoToCategory(CategoryName)">
    <div class="text-box">
        <p class="category-title">
            @CategoryName
        </p>
        <p class="category-count">
            @ProductsInCategory products
        </p>
    </div>
</div>
@code {
    [Parameter]
    public string CategoryName { get; set; }

    [Parameter]
    public int ProductsInCategory { get; set; }

    [Parameter]
    public int ColumnSpan { get; set; }

    [Parameter]
    public int RowSpan { get; set; }

    private void GoToCategory(string category)
        => navigationManager.NavigateTo($"/shop/{category}");
}
