
.counter-container {
    display: flex;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    text-align: center;
}

    .counter-container .outer-circle {
        border: 2px dashed var(--teal);
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        border-radius: 100%;
    }

    .counter-container .inner-circle {
        background: white;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        padding: 1rem;
        width: 110px;
        height: 110px;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

        .counter-container .inner-circle h2 {
            font-family: var(--font-play);
            font-size: 36px;
            font-weight: bold;
            text-align: center;
            color: var(--teal);
            margin: 0;
            padding-top: 0.5rem;
        }