.p-404 {
    font-family: "Roboto", sans-serif;
}

    .p-404 h1 {
        font-family: "Play", sans-serif;
        font-weight: 900;
        font-size: 10rem;
        color: #20d3c2;
        text-shadow: -5px 5px 0px #1bb1a2, -10px 10px 0px #158e82, -15px 15px 0px #106a61;
        -webkit-transition: text-shadow 1s;
        transition: text-shadow 1s;
    }

        .p-404 h1:hover {
            text-shadow: 0px 0px 0px #1bb1a200, 0px 0px 0px #158e8200, 0px 0px 0px #106a6100;
        }

    .p-404 .btn {
        padding: 0.5rem 1rem;
        font-weight: bold;
        border: 2px solid transparent;
    }

    .p-404 .btn-home {
        background: #20d3c2;
    }

        .p-404 .btn-home:hover {
            border: 2px solid #20d3c2;
            color: #20d3c2 !important;
            background: transparent;
        }


        .p-404 .btn-contact:hover {
            border: 2px solid #0e153d;
            color: #0e153d !important;
            background: transparent !important;
        }
