<div class="container justify-content-center p-404 mb-5 pb-5">
    <h1 class="text-center mt-5 mb-5">404</h1>
    <h4 class="text-center fw-bold mb-5">Oops! The page you are looking for doesn't exist.</h4>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <a href="#" class="btn teal rounded-pill text-white me-5 btn-home">HOME</a>
            <a href="#" class="btn bg-dark-blue rounded-pill text-white btn-contact">CONTACT US</a>
        </div>
    </div>
</div>