  <div class="d-flex align-items-center flex-column mt-5 pt-5">
        <p class="text-dark-blue b-w-play-36">
            LATEST  
            <span class="text-teal ">BLOG</span>
        </p>
        <img class="d-block mb-4" src="/img/zigzag.svg" alt="pattern">
        <p class="d-block mb-5 roboto">
            Read our latest posts about our events and trending news
        </p>
    </div>