<!-- Bottom brand banner -->
<article class="brand-bottom-banner mt-5 mb-5 pt-5">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col">
                <img src="/src/img/brands/bexim.svg" alt="Bexim Logo" class="w-75">
            </div>
            <div class="col">
                <img src="/src/img/brands/lighton.svg" alt="Lighton Logo" class="w-75">
            </div>
            <div class="col">
                <img src="/src/img/brands/dismis.svg" alt="Dismis Logo" class="w-75">
            </div>
            <div class="col">
                <img src="/src/img/brands/rosimo.svg" alt="Rosimo Logo" class="w-75">
            </div>
            <div class="col">
                <img src="/src/img/brands/dallas.svg" alt="Dallas Logo" class="w-75">
            </div>
        </div>
    </div>
</article>