/*    <td>
        <i class="fas fa-times-circle"></i>
    </td>
    <td>
        <img src=@Product.ProductImg alt="Product Image">
    </td>
    <th scope="row">
        @Product.ProductName
    </th>

    <td><p id="priceColumn">@Product.Price</p></td>
    <td>
        <_QuantityInput @bind-Quantity="@Product.Quantity" />
    </td>
    <td>
        <p id="subTotalColumn">
            $@(Product.Quantity * Product.Price)
        </p>
    </td>
*/

.product-name {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

i:hover {
    color: var(--text-teal);
    cursor: pointer;
}

img {
    width: 65px;
    height: 65px;
}