<div id="carouselExampleIndicators_quotes" class="carousel slide" data-bs-ride="false">
    <div class="carousel-inner">
        <div class="carousel-item active ">
            <div class="row">
                <div class="col-4">
                                
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-4">
                                
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-4">
                                
                </div>
            </div>
        </div>
    </div> 
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators_quotes" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators_quotes" data-bs-slide="next">
        <span class="" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button> 
    <div class="carousel-indicators">
        <button id="test" type="button" data-bs-target="#carouselExampleIndicators_quotes" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"><div class="dot rounded"></div></button>
        <button type="button" data-bs-target="#carouselExampleIndicators_quotes" data-bs-slide-to="1" aria-label="Slide 2"><div class="dot rounded middle-gray-bg"></div></button>
        <button type="button" data-bs-target="#carouselExampleIndicators_quotes" data-bs-slide-to="2" aria-label="Slide 3"><div class="dot rounded middle-gray-bg"></div></button>
    </div>            
</div> 