.coupon-container {
    border: 1px dashed var(--bg-middle-gray);
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 1.25rem;
}

    .coupon-container ::deep form {
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
    }

        .coupon-container ::deep form input {
            padding: .375rem 1rem;
            border-width: 2px 0 2px 2px;
            border-style: solid;
            border-color: var(--bg-middle-gray);
            border-radius: 50rem 0 0 50rem;
            outline: none;
        }

.btn-apply-coupon {
    -moz-border-radius: 0 50rem 50rem 0;
    -webkit-border-radius: 0 50rem 50rem 0;
    border-radius: 0 50rem 50rem 0;
    background: var(--text-teal);
    color: white;
    text-transform: uppercase;
    border: 2px solid transparent;
    font-weight: bold;
}

.btn-apply-coupon:hover {
    color: var(--text-teal);
    background: transparent;
    border: 2px solid var(--text-teal);
}
