<div class="grid-container mb-5">
    <div class="div1 d-flex align-content-end flex-wrap ">

    </div>
    <div class="div2 d-flex align-content-end flex-wrap">

    </div>
    <div class="div3 d-flex align-content-end flex-wrap">

    </div>
    <div class="div4 d-flex align-content-end flex-wrap">

    </div>
    <div class="div5 d-flex align-content-end flex-wrap">

    </div>
    <div class="div6 d-flex align-content-end flex-wrap">

    </div>
    <div class="div7 d-flex align-content-end flex-wrap">

    </div>
</div>