.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas: "div1 div2 div2 div3 div3" "div4 div4 div5 div3 div3" "div4 div4 div6 div6 div7";
}

.div1, .div2, .div3, .div4, .div5, .div6, .div7 {
    height: 214px;
    border-radius: 6px;
    background-color: var(--light-gray);
}

.div3, .div4 {
    height: 438px;
}

.div1 {
    grid-area: div1;
}

.div2 {
    grid-area: div2;
}

.div3 {
    grid-area: div3;
}

.div4 {
    grid-area: div4;
}

.div5 {
    grid-area: div5;
}

.div6 {
    grid-area: div6;
}

.div7 {
    grid-area: div7;
}

.grid-container p {
    padding-left: 15px;
    font-family: "Roboto", sans-serif;
}
