
<div class="modal fade" id="quickViewModal" tabindex="-1" aria-labelledby="quickViewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button class="btn close-modal-button" data-bs-dismiss="modal">
                <i class="fas fa-times"></i>
            </button>
            <div class="modal-body">
                <div class="quick-view-container">
                    <_ProductDetails Product=Product/>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public ProductModel Product { get; set; }
}