<div class="d-flex justify-content-center flex-column align-items-center" >
    <img class="" src="/img/Quote.svg" alt="quote">
    <img class="m-5" src="/img/box1.svg">   

    <_review-star>

    </_review-star>

    <p class="text-teal m-w-roboto-18 mb-0">JOHNY WESMULLAR</p>
    <p class="w-roboto-14 mb-4">CEO, Biotech Inc.</p>
    <p class="text-light roboto" style="width:730px; text-align:center">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy 
        text ever since the 1500s, when an unknown printer took a 
        galley of type and scrambled it to make a type specimen book. 
        It has survived not only five centuries.
    </p>
</div>