<div class="mb-4">
    <i class="fas fa-star teal"></i>
    <i class="fas fa-star teal"></i>
    <i class="fas fa-star teal"></i>
    <i class="fas fa-star teal"></i>
    <i class="far fa-star teal"></i>
 </div>