<!-- Subscribe now! Banner -->
<article class="subscribe-conversion-banner mt-5">
    <div class="container">
        <div class="row gx-5 align-items-center">
            <div class="col me-lg-5 me-0 mt-5 mb-5 subscribe-form-container text-center text-lg-start">
                <h1 class="play-font fw-bold text-dark-blue">SUBSCRIBE <span class="teal">NOW</span></h1>
                <p class="pe-lg-5 pe-0">
                    Signup for awesome news about our products and all our special discounts.
                </p>
                <div class="subscribe-form mx-auto mx-lg-0">
                    <input type="email" id="inputEmailSubscribe" placeholder="Enter email address">
                    <button type="button" id="btnSubscribe">Subscribe</button>
                </div>
            </div>
            <div class="col subscribe-banner-container d-none d-lg-block">
                <img src="https://via.placeholder.com/600x400" alt="Subscribe Picture">
            </div>
        </div>
    </div>
</article>