<footer class="position-relative bottom-0 top-footer pt-5 mt-5">
    <div class="container mt-4 pb-5">
        <div class="row">
            <div class="col-12 col-sm mb-5 mb-sm-0">
                <img src="/src/img/logo-white.svg" class="title mb-4">
                <p class="info-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent enim quam, ullamcorper vel
                    tellus vitae, tempus fringilla lectus. Donec maximus justo eu nisl convallis iaculis. Aenean
                    laoreet.
                </p>

                <p>Follow us</p>
                <div class="socials">
                    <i class="me-2 fab fa-facebook-f"></i>
                    <i class="me-2 fab fa-instagram"></i>
                    <i class="me-2 fab fa-twitter"></i>
                    <i class="me-2 fab fa-linkedin"></i>
                    <i class="me-2 fab fa-snapchat-ghost"></i>
                </div>
            </div>

            <div class="col mb-5 mb-sm-0">
                <h5 class="footer-headers mb-4 teal">CONTACT INFO</h5>

                <p class="teal mb-0">Address:</p>
                <address>
                    Solna Business Park <br>
                    Feni-2500, Stockholm
                </address>

                <p class="teal mb-0">Phone:</p>
                <p class="mb-0">
                    <a href="tel:+08123456789" class="footer-links">
                        +08-123 456 789
                    </a>
                </p>
                <p>
                    <a href="tel:+08123456789" class="footer-links">
                        +08-123 456 789
                    </a>
                </p>

                <p class="teal mb-0">Email:</p>
                <p class="mb-0">
                    <a href="mailto:support@website.com" class="footer-links">
                        support@website.com
                    </a>
                </p>
                <p class="mb-0">
                    <a href="mailto:info@website.com" class="footer-links">
                        info@website.com
                    </a>
                </p>
            </div>

            <div class="col">
                <h5 class="footer-headers mb-4 teal">USEFUL LINKS</h5>
                <a href="privacypolicy" class="useful-link footer-links">Privacy Policy</a>
                <a href="termsconditions" class="useful-link footer-links">Terms & Conditions</a>
                <a href="contactus" class="useful-link footer-links">Contact Us</a>
                <a href="sitemap" class="useful-link footer-links">Our Sitemap</a>
                <a href="news" class="useful-link footer-links">Latest News</a>
                <a href="returns" class="useful-link footer-links">Returns</a>

            </div>

            <div class="col d-none d-xl-block">
                <h5 class="footer-headers mb-4 teal">
                    RECENT INSTAGRAM
                </h5>

                <div class="row row-cols-3">
                    <div class="col instagram-photo"></div>
                    <div class="col instagram-photo"></div>
                    <div class="col instagram-photo"></div>
                    <div class="col instagram-photo"></div>
                    <div class="col instagram-photo"></div>
                    <div class="col instagram-photo"></div>
                    <div class="col instagram-photo"></div>
                    <div class="col instagram-photo"></div>
                    <div class="col instagram-photo"></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="position-relative bottom-0 sub-footer">
    <div class="container pt-3 pb-3">
        <div class="row align-items-center justify-content-center justify-content-sm-between">
            <div class="col text-center text-sm-start">
                &copy; Copyright 2021 KenKata
            </div>
            <div class="col payment-methods d-none d-sm-flex">
                <img src="/src/img/payment-methods/mastercard.svg" alt="Mastercard" />
                <img src="/src/img/payment-methods/paypal.svg" alt="PayPal" />
                <img src="/src/img/payment-methods/visa.svg" alt="VISA" />
                <img src="/src/img/payment-methods/payoneer.svg" alt="Payoneer" />
                <img src="/src/img/payment-methods/discover.svg" alt="Discover Network" />
            </div>
        </div>
    </div>
</footer>
