  <div class="top-menu bg-teal d-flex justify-content-between align-items-center"> 
        <div class="container d-flex justify-content-between align-items-center p-0">
          <div>
            <nav class="navbar navbar-expand navbar-light m-0">
              <div class="container-fluid p-0">
                <div class="collapse navbar-collapse" id="navbarScroll">
                  <ul class="navbar-nav navbar-nav-scroll roboto" style="--bs-scroll-height: 100px;">
                      <li class="nav-item dropdown">
                          <a class="nav-link text-light dropdown-toggle" role="button" aria-expanded="false" data-toggle="dropdown" href="#">
                            ENG
                            <img src="/img/arrow_d.svg" alt="menu">
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                          </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link text-light dropdown-toggle" role="button" aria-expanded="false" data-toggle="dropdown" href="#">
                          USD
                          <img src="/img/arrow_d.svg" alt="menu">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                  </ul>  
                  <div border-start></div>
                </div>
              </div>
            </nav>
          </div>
            <div class="d-flex align-items-center text-light roboto">
                <span >Newsletter</span>
                <span class="menu_border mx-3"></span>
                <span>Contact us</span>
                <span class="menu_border mx-3"></span>
                <span>FAQs</span>
                <span class="menu_border mx-3"></span>
                <span class="d-flex justify-content-between">
                    <div class="mx-1">O</div>
                    <div class="mx-1">O</div>
                    <div class="mx-1">O</div>
                    <div class="mx-1">O</div>
                    <div class="mx-1">O</div>
                </span>
            </div> 
        </div>     
    </div>
    <div class="container middle-menu d-flex justify-content-between align-items-center">
        <img class="my-5" src="/img/Logo.svg">
        <div class="subscribe-form">
            <input type="email" id="inputEmailSubscribe" placeholder="Search products...">
            <div class="menu_border2"></div>
            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                <select class="form-select" id="categories-dd">
                    <option>Categories</option>
                    <option>Example one</option>
                    <option>Example one</option>
                    <option>Example one</option>
                    <option>Example one</option>
                    <option>Example one</option>
                    <option>Example one</option>
                </select>                
            </div>  
            <button type="button" id="btn-search" class="bg-teal px-3">
              <img src="/img/Search_icon.png" alt="Search">
            </button>
        </div>
        <div class="d-flex align-items-center">
          <a href="#" class="d-flex align-items-center">
              <img class="ps-4" src="/img/User_icon.svg" alt="heart-icon">
              <span class="ps-1 text-dark roboto">My account</span>
          </a>
          <a class="ps-4 me-4" href="#"><img src="/img/Heart_icon.svg" alt="heart-icon"></a>
          <a class="little-box me-4" href="#">
            <img class="circle" src="/img/Compare_icon.png" alt="compare-icon">
            <div class="little-circle d-flex justify-content-center align-items-center">
              <p class="mb-0 text-light roboto">0</p>
            </div>
          </a>
          <a class="little-box" href="#">
            <img class="circle" src="/img/Bag_icon.svg" alt="compare-icon">
            <div class="little-circle d-flex justify-content-center align-items-center">
              <p class="mb-0 text-light roboto">0</p>
            </div>
          </a>
          <div class="ms-2">$0.00</div>
        </div>
        
    </div>
    <div class="w-100 border-top ">
      <div class="container bottom-menu p-0">
          <nav class="navbar navbar-expand-lg navbar-light m-0 p-0 ">
              <div class="container-fluid p-0 ">
                <div class="collapse navbar-collapse " id="navbarScroll">
                  <ul class="navbar-nav me-auto navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item dropdown me-3 bg-teal pt-1">
                          <a class="first-menu-btn nav-link dropdown-toggle d-flex align-items-center" role="button" aria-expanded="false" data-toggle="dropdown" href="#">
                            <div class="d-flex flex-column me-2">
                              <div class="hamburger-line"></div>
                              <div class="hamburger-line"></div>
                              <div class="hamburger-line"></div>
                            </div>
                            <span class="text-light">Browse Categories</span>
                            <img class="ms-5" src="/img/arrow_d.svg" alt="menu">
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                          </ul>
                        </li>    
                        <li class="nav-item me-2 p-1">
                          <a class="nav-link text-dark" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item dropdown me-2 p-1">
                          <a class="nav-link dropdown-toggle d-flex align-items-center text-dark" role="button" aria-expanded="false" data-toggle="dropdown" href="#">
                            Shop
                            <img class="ms-2" src="/img/arrow__b.svg" alt="menu">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </li> 
                      <li class="nav-item dropdown me-2 p-1">
                        <a class="nav-link dropdown-toggle d-flex align-items-center text-dark" role="button" aria-expanded="false" data-toggle="dropdown" href="#">
                          Products
                          <img class="ms-2" src="/img/arrow__b.svg" alt="menu">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </li> 
                      <li class="nav-item dropdown me-2 p-1">
                        <a class="nav-link dropdown-toggle d-flex align-items-center text-dark" role="button" aria-expanded="false" data-toggle="dropdown" href="#">
                          Categories
                          <img class="ms-2" src="/img/arrow__b.svg" alt="menu">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </li> 
                      <li class="nav-item dropdown me-2 p-1">
                        <a class="nav-link dropdown-toggle d-flex align-items-center text-dark" role="button" aria-expanded="false" data-toggle="dropdown" href="#">
                          Pages
                          <img class="ms-2" src="/img/arrow__b.svg" alt="menu">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </li> 
                      <li class="nav-item p-1">
                        <a class="nav-link text-dark" href="#">Blog</a>
                      </li>
                    </ul>
                    <button class="button-rounded-normal bg-teal text-light f-16">SPECIAL OFFER</button>
                </div>
              </div>
            </nav>
        </div>
    </div>