.button-rounded-normal {
    height: 40px;
}
/* top menu */
.top-menu {
    width: 100vw;
    height: 40px;
}

.top-menu-links {
    text-decoration: none;
    color: white;
}

.dropdown-toggle::after {
    display: none;
}

.menu_border {
    height: 40px;
    width: 1px;
    background-color: white;
}
/* middle menu */
.subscribe-form {
    display: flex;
    background: white;
    border: 1px solid lightgray;
    border-radius: 2rem;
    padding: 0 4px;
    height: 45px;
    width: 25vw;
    margin-left: 5vw;
}

.menu_border2 {
    height: 45px;
    width: 1px;
}

#inputEmailSubscribe {
    flex: 1;
    border: none;
    border-radius: 5rem;
    padding-left: 1rem;
    padding-bottom: 0.15rem;
}

#categories-dd {
    border: none;
}

#btn-search {
    position: relative;
    height: 45px;
    top: -1px;
    left: 5px;
    border: none;
    border-radius: 0 20px 20px 0;
}

.little-box {
    position: relative;
    top: 0px;
    left: 0;
    width: 20px;
    height: 20px;
}

.little-circle {
    position: absolute;
    top: -5px;
    left: 10px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: var(--text-teal);
}

    .little-circle p {
        font-size: 12px;
    }

option {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}
/* bottom menu */
.first-menu-btn {
    height: 50px;
}

.hamburger-line {
    width: 15px;
    height: 2px;
    background-color: white;
    margin-bottom: 2px;
}

.dropdown-menu {
    width: 20vw;
}

.bottom-menu li {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

    .bottom-menu li ul li {
        font-size: 16px;
    }

    .bottom-menu li:hover {
        border-bottom: 4px solid var(--text-teal);
    }
