<div id="banner2" class=" w-100 mb-5">
    <div class="container d-flex justify-content-between">
        <div class="bg-teal col-3 p-5 text-center">
            <p class="b-w-play-60 m-0">FLASH SALE</p>
            <p class="m-w-roboto-24">UP TO 50% OFF</p>
        </div>
        <div class="d-flex align-items-center flex-column justify-content-center">
            <div class="d-flex justify-content-between m-4">
                <div class="circle-container m-2">
                    <div class="circle"></div>
                    <div class="small-circle d-flex justify-content-center align-items-center flex-column">
                        <p class="m-0 b-w-play-36 teal">7</p>
                        <p class="m-0  roboto">Days</p>
                    </div>
                </div> 
                <div class="circle-container m-2">
                    <div class="circle"></div>
                    <div class="small-circle d-flex justify-content-center align-items-center flex-column">
                        <p class="m-0 b-w-play-36 teal">23</p>
                        <p class="m-0  roboto">Hours</p>
                    </div>
                </div> 
                <div class="circle-container m-2">
                    <div class="circle"></div>
                    <div class="small-circle d-flex justify-content-center align-items-center flex-column">
                        <p class="m-0 b-w-play-36 teal">46</p>
                        <p class="m-0  roboto">Minutes</p>
                    </div>
                </div> 
                <div class="circle-container m-2">
                    <div class="circle"></div>
                    <div class="small-circle d-flex justify-content-center align-items-center flex-column">
                        <p class="m-0 b-w-play-36 teal">12</p>
                        <p class="m-0  roboto">seconds</p>
                    </div>
                </div> 
            </div>
            <button class="button-rounded-normal">SHOP NOW</button>
        </div>
    </div>   
</div>