#shipping-container {
    width: 90vw;
    margin: 0 auto;
}

.box {
    width: 400px;
    height: 140px;
    border-radius: 6px;
}

.box:hover {
    background-color: var(--text-teal);
}

#box-img-pack {
    content: url(/img/box.svg);
}

.box:hover #box-img-pack {
    width: 50px;
    content: url(/img/box.png);
}

#box-img-clock {
    width: 50px;
    content: url(/img/clock.png);
}

.box:hover #box-img-clock {
    width: 50px;
    content: url(/img/clock.svg);
}

#box-img-pay {
    width: 50px;
    content: url(/img/pay.svg);
}

.box:hover #box-img-pay {
    width: 50px;
    content: url(/img/pay.png);
}

#box-img-time {
    width: 50px;
    content: url(/img/time.svg);
}

.box:hover #box-img-time {
    width: 50px;
    content: url(/img/time.png);
}

.box:hover p {
    color: white
}
