<div id="start-div-background" class="lighter-gray-bg">
    <div class="container height d-flex align-items-center justify-content-between">
        <div class="p-0 col-5 start-text">
            <p class="play-60 mb-0">Shopping is</p>
            <h1 class="b-w-play-60 teal">MORE FUN</h1>
            <p class="mb-5 roboto">Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies faucibus. Quisque quis erat sed</p>
            <div class="button-rounded-normal d-flex justify-content-center align-items-center">
                SHOP NOW
            </div> 
        </div>
        <img id="start-img" class="col-7" src="../wwwroot/src/img/home/girls.svg" alt="people">
    </div>
</div>