.play-60 {
    font-family: 'Play', sans-serif;
    font-size: 60px;
}

.button-rounded-normal {
    background-color: white;
}
/* Start */
#start-div-background {
    width: 100vw;
    height: 600px;
}

.height {
    height: 100%;
}

.start-text {
    width: 390px
}

#start-img {
    height: 100%;
    width: 100%;
}
